/* Bambola */

@font-face {
  font-family: 'Bambola';
  src: url('/fonts/1BAC23_0_0.eot');
  src: url('/fonts/1BAC23_0_0.eot?#iefix') format("embedded-opentype"), url('/fonts/1BAC23_0_0.woff') format("woff"), url('/fonts/1BAC23_0_0.ttf') format("truetype");
}

.ff_b {
  font-family: Georgia, "Times New Roman", serif;
  font-style: italic;
  font-weight: normal;
}

html.fontface .ff_b {
  font-family: "Bambola", Georgia, "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
}

/* Brandon Grotesque */

@font-face {
  font-family: 'BrandonGrotesque-Bold';
  src: url('/fonts/180B59_0.eot');
  src: url('/fonts/180B59_0.eot?#iefix') format("embedded-opentype"), url('/fonts/180B59_0.woff') format("woff"), url('/fonts/180B59_0.ttf') format("truetype");
}

@font-face {
  font-family: 'BrandonGrotesque-RegularItalic';
  src: url('/fonts/180B59_1.eot');
  src: url('/fonts/180B59_1.eot?#iefix') format("embedded-opentype"), url('/fonts/180B59_1.woff') format("woff"), url('/fonts/180B59_1.ttf') format("truetype");
}

@font-face {
  font-family: 'BrandonGrotesque-BoldItalic';
  src: url('/fonts/180B59_2.eot');
  src: url('/fonts/180B59_2.eot?#iefix') format("embedded-opentype"), url('/fonts/180B59_2.woff') format("woff"), url('/fonts/180B59_2.ttf') format("truetype");
}

@font-face {
  font-family: 'BrandonGrotesque-Regular';
  src: url('/fonts/180B59_3.eot');
  src: url('/fonts/180B59_3.eot?#iefix') format("embedded-opentype"), url('/fonts/180B59_3.woff') format("woff"), url('/fonts/180B59_3.ttf') format("truetype");
}

.ff_bg,
.ff_bg_i,
.ff_bg_bld,
.ff_bg_bldi {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.ff_bg {
  font-style: normal;
  font-weight: normal;
}

.ff_bg_i {
  font-style: italic;
  font-weight: normal;
}

.ff_bg_bld {
  font-style: normal;
  font-weight: bold;
}

.ff_bg_bldi {
  font-style: italic;
  font-weight: bold;
}

html.fontface .ff_bg,
html.fontface .ff_bg_i,
html.fontface .ff_bg_bld,
html.fontface .ff_bg_bldi {
  font-style: normal;
  font-weight: normal;
}
html.fontface .ff_bg {
  font-family: "BrandonGrotesque-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
html.fontface .ff_bg_i {
  font-family: "BrandonGrotesque-RegularItalic", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
html.fontface .ff_bg_bld {
  font-family: "BrandonGrotesque-Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
html.fontface .ff_bg_bldi {
  font-family: "BrandonGrotesque-BoldItalic", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Sanchez */

@font-face {
  font-family: 'Sanchez-ExtraLight';
  src: url('/fonts/1BAC23_A_0.eot');
  src: url('/fonts/1BAC23_A_0.eot?#iefix') format("embedded-opentype"), url('/fonts/1BAC23_A_0.woff') format("woff"), url('/fonts/1BAC23_A_0.ttf') format("truetype");
}

@font-face {
  font-family: 'Sanchez-Light';
  src: url('/fonts/1BAC23_5_0.eot');
  src: url('1BAC23_5_0.eot?#iefix') format("embedded-opentype"), url('/fonts/1BAC23_5_0.woff') format("woff"), url('/fonts/1BAC23_5_0.ttf') format("truetype");
}

@font-face {
  font-family: 'Sanchez';
  src: url('/fonts/1BAC23_6_0.eot');
  src: url('/fonts/1BAC23_6_0.eot?#iefix') format("embedded-opentype"), url('/fonts/1BAC23_6_0.woff') format("woff"), url('/fonts/1BAC23_6_0.ttf') format("truetype");
}

@font-face {
  font-family: 'Sanchez-SemiBold';
  src: url('/fonts/1BAC23_3_0.eot');
  src: url('/fonts/1BAC23_3_0.eot?#iefix') format("embedded-opentype"), url('/fonts/1BAC23_3_0.woff') format("woff"), url('/fonts/1BAC23_3_0.ttf') format("truetype");
}

@font-face {
  font-family: 'Sanchez-Bold';
  src: url('/fonts/1BAC23_2_0.eot');
  src: url('/fonts/1BAC23_2_0.eot?#iefix') format("embedded-opentype"), url('/fonts/1BAC23_2_0.woff') format("woff"), url('/fonts/1BAC23_2_0.ttf') format("truetype");
}

@font-face {
  font-family: 'Sanchez-Black';
  src: url('/fonts/1BAC23_4_0.eot');
  src: url('/fonts/1BAC23_4_0.eot?#iefix') format("embedded-opentype"), url('/fonts/1BAC23_4_0.woff') format("woff"), url('/fonts/1BAC23_4_0.ttf') format("truetype");
}

@font-face {
  font-family: 'Sanchez-LightItalic';
  src: url('/fonts/1BAC23_1_0.eot');
  src: url('/fonts/1BAC23_1_0.eot?#iefix') format("embedded-opentype"), url('/fonts/1BAC23_1_0.woff') format("woff"), url('/fonts/1BAC23_1_0.ttf') format("truetype");
}

@font-face {
  font-family: 'Sanchez-ExtraLightItalic';
  src: url('/fonts/1BAC23_8_0.eot');
  src: url('/fonts/1BAC23_8_0.eot?#iefix') format("embedded-opentype"), url('/fonts/1BAC23_8_0.woff') format("woff"), url('/fonts/1BAC23_8_0.ttf') format("truetype");
}

@font-face {
  font-family: 'Sanchez-SemiBoldItalic';
  src: url('/fonts/1BAC23_7_0.eot');
  src: url('/fonts/1BAC23_7_0.eot?#iefix') format("embedded-opentype"), url('/fonts/1BAC23_7_0.woff') format("woff"), url('/fonts/1BAC23_7_0.ttf') format("truetype");
}

@font-face {
  font-family: 'Sanchez-Italic';
  src: url('/fonts/1BAC23_B_0.eot');
  src: url('/fonts/1BAC23_B_0.eot?#iefix') format("embedded-opentype"), url('/fonts/1BAC23_B_0.woff') format("woff"), url('/fonts/1BAC23_B_0.ttf') format("truetype");
}

@font-face {
  font-family: 'Sanchez-BoldItalic';
  src: url('/fonts/1BAC23_C_0.eot');
  src: url('/fonts/1BAC23_C_0.eot?#iefix') format("embedded-opentype"), url('/fonts/1BAC23_C_0.woff') format("woff"), url('/fonts/1BAC23_C_0.ttf') format("truetype");
}

@font-face {
  font-family: 'Sanchez-BlackItalic';
  src: url('/fonts/1BAC23_9_0.eot');
  src: url('/fonts/1BAC23_9_0.eot?#iefix') format("embedded-opentype"), url('/fonts/1BAC23_9_0.woff') format("woff"), url('/fonts/1BAC23_9_0.ttf') format("truetype");
}

.ff_s,
.ff_s_i,
.ff_s_el,
.ff_s_eli,
.ff_s_l,
.ff_s_li,
.ff_s_sbld,
.ff_s_sbldi,
.ff_s_bld,
.ff_s_bldi,
.ff_s_blk,
.ff_s_blki {
  font-family: Georgia, "Times New Roman", serif;
}

.ff_s,
.ff_s_el,
.ff_s_l {
  font-style: normal;
  font-weight: normal;
}

.ff_s_i,
.ff_s_eli,
.ff_s_li {
  font-style: italic;
  font-weight: normal;
}

.ff_s_sbld,
.ff_s_bld,
.ff_s_blk {
  font-style: normal;
  font-weight: bold;
}

.ff_s_sbldi,
.ff_s_bldi,
.ff_s_blki {
  font-style: italic;
  font-weight: bold;
}

html.fontface .ff_s,
html.fontface .ff_s_i,
html.fontface .ff_s_el,
html.fontface .ff_s_eli,
html.fontface .ff_s_l,
html.fontface .ff_s_li,
html.fontface .ff_s_sbld,
html.fontface .ff_s_sbldi,
html.fontface .ff_s_bld,
html.fontface .ff_s_bldi,
html.fontface .ff_s_blk,
html.fontface .ff_s_blki {
  font-style: normal;
  font-weight: normal;
}
html.fontface .ff_s {
  font-family: "Sanchez", Georgia, "Times New Roman", serif;
}
html.fontface .ff_s_i {
  font-family: "Sanchez-Italic", Georgia, "Times New Roman", serif;
}
html.fontface .ff_s_el {
  font-family: "Sanchez-ExtraLight", Georgia, "Times New Roman", serif;
}
html.fontface .ff_s_eli {
  font-family: "Sanchez-ExtraLightItalic", Georgia, "Times New Roman", serif;
}
html.fontface .ff_s_l {
  font-family: "Sanchez-Light", Georgia, "Times New Roman", serif;
}
html.fontface .ff_s_li {
  font-family: "Sanchez-LightItalic", Georgia, "Times New Roman", serif;
}
html.fontface .ff_s_sbld {
  font-family: "Sanchez-SemiBold", Georgia, "Times New Roman", serif;
}
html.fontface .ff_s_sbldi {
  font-family: "Sanchez-SemiBoldItalic", Georgia, "Times New Roman", serif;
}
html.fontface .ff_s_bld {
  font-family: "Sanchez-Bold", Georgia, "Times New Roman", serif;
}
html.fontface .ff_s_bldi {
  font-family: "Sanchez-BoldItalic", Georgia, "Times New Roman", serif;
}
html.fontface .ff_s_blk {
  font-family: "Sanchez-Black", Georgia, "Times New Roman", serif;
}
html.fontface .ff_s_blki {
  font-family: "Sanchez-BlackItalic", Georgia, "Times New Roman", serif;
}
