{% extends 'base/standard.twig' %}

{% block title %}401{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-xs-12">
      <h2>401 - Unauthorized</h2>
      <p>This page is not currently accessible to the public. Please sign in to view this page.</p>
    </div>
  </div>
{% endblock %}
