<?php
// Database connection information
define('DB_HOST', 'localhost');
define('DB_USER', '');
define('DB_PASSWORD', '');
define('DB_DATABASE', '');

// Used for volunteer applications
define('EMAIL_TO', '');
define('EMAIL_FROM', '');

// steamcommunity.com/dev/apikey
define('STEAM_API_KEY', '');

// Items will only be showed if the user has access to them
define('NAVBAR_ITEMS', [
    "home"  => "Home",
    "categories" => "Categories and Nominations",
    "people" => "People",
    "https://steamcommunity.com/groups/vidyagaemawards/discussions/" => "Forum",
]);
