{#
    This is the base template from which all others inherit.
    It contains HTML, CSS and JS common that is common to every page on the site.
#}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% block fullTitle %}{% block title title %} &ndash; Vidya Gaem Awards{% endblock %}</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
  <link href="https://fonts.googleapis.com/css?family=Asap:400,700" rel="stylesheet">
  <link rel="stylesheet" href="{{ asset('css/core.css') }}">
  {% block css %}{% endblock %}

  {#<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.js"></script>#}
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.0/js/jquery.tablesorter.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/twemoji/11.1.0/2/twemoji.min.js'></script>
  {% block js %}{% endblock %}

  <script type="text/javascript">
      $(document).on('ready', function () {
          twemoji.parse(document.body, {
              callback: function(icon, options, variant) {
                  switch ( icon ) {
                      case 'a9':      // © copyright
                      case 'ae':      // ® registered trademark
                      case '2122':    // ™ trademark
                          return false;
                  }
                  return ''.concat(options.base, options.size, '/', icon, options.ext);
              }
          });
      });
  </script>

  {% block head %}{% endblock %}
</head>

<body>
  {% block body %}{% endblock %}
</body>

</html>
