{#
    This is the base template from which all others inherit.
    It contains HTML, CSS and JS common that is common to every page on the site.
#}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="theme-color" content="#2C3E50">

  <title>{% block fullTitle %}{% block title title %} &ndash; Vidya Gaem Awards{% endblock %}</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-9ralMzdK1QYsk4yBY680hmsb4/hJ98xK3w0TIaJ3ll4POWpWUYaA2bRjGGujGT8w" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ asset('css/core.css') }}">
  {% block css %}{% endblock %}

  {% block head %}{% endblock %}
</head>

<body {% block body_attr %}{% endblock %}>
  {% block body %}{% endblock %}

  {% block js %}
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.0/js/jquery.tablesorter.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/twemoji/11.1.0/2/twemoji.min.js'></script>
  {% endblock %}

  <script type="text/javascript">
      window.addEventListener('load', function () {
          twemoji.parse(document.body, {
              callback: function(icon, options, variant) {
                  switch ( icon ) {
                      case 'a9':      // © copyright
                      case 'ae':      // ® registered trademark
                      case '2122':    // ™ trademark
                          return false;
                  }
                  return ''.concat(options.base, options.size, '/', icon, options.ext);
              }
          });
      });
  </script>
</body>

</html>
