{#
    This is the base template from which all others inherit.
    It contains HTML, CSS and JS common that is common to every page on the site.
#}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="theme-color" content="#2C3E50">

  <title>{% block fullTitle %}{% block title title %} &ndash; Vidya Gaem Awards{% endblock %}</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/themes/base/jquery-ui.min.css">
  <script src="https://kit.fontawesome.com/a7a6918ba5.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ asset('css/core.css') }}">
  {% block css %}{% endblock %}

  {% block head %}{% endblock %}
</head>

<body {% block body_attr %}{% endblock %}>
  {% block body %}{% endblock %}

  {% block js %}
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.3/js/jquery.tablesorter.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.2/js/bootstrap.bundle.min.js'></script>
{#    <script src='https://twemoji.maxcdn.com/v/14.0.2/twemoji.min.js'></script>#}
  {% endblock %}

{#  <script type="text/javascript">#}
{#      window.addEventListener('load', function () {#}
{#          twemoji.parse(document.body, {#}
{#              callback: function(icon, options, variant) {#}
{#                  switch ( icon ) {#}
{#                      case 'a9':      // © copyright#}
{#                      case 'ae':      // ® registered trademark#}
{#                      case '2122':    // ™ trademark#}
{#                          return false;#}
{#                  }#}
{#                  return ''.concat(options.base, options.size, '/', icon, options.ext);#}
{#              }#}
{#          });#}
{#      });#}
{#  </script>#}
</body>

</html>
