{% extends 'base/standard.twig' %}

{% block content %}
  <h1 class="page-header">Voting code for {{ date }}:</h1>

  <p class="lead">
    <code>{{ url }}<strong>{{ code }}</strong></code>
  </p>

  <p>
    A new code is generated each hour. Previous codes are not immediately invalidated when the hour changes, so you can
    continue to use an older code for a little while.
  </p>
{% endblock %}
