{% extends 'master.twig' %}

{% block title %}401{% endblock %}

{% block content %}
<div class="row">
    <div class="col-xs-12">
        <h2>401 - Unauthorized</h2>
        <p>You need to sign in first.</p>
    </div>
</div>
{% endblock %}
