{% extends 'base/standard.twig' %}

{% block title %}404{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-xs-12">
      <h2>404 - Page Not Found</h2>
      <p>So what's the next step of your master plan?</p>
    </div>
  </div>
{% endblock %}
