{% extends 'base/standard.twig' %}

{% block title %}500{% endblock %}

{% block content %}
<div class="row">
    <div class="col-xs-12">
        <h2>500 - Internal Server Error</h2>
        <p class="implying">&gt;2011+{{ 'now'|date('Y') - 2011 }}</p>
        <p class="implying">&gt;having competent web developers</p>
    </div>
</div>
{% endblock %}
