{% extends 'master.twig' %}

{% block content %}
<div class="row">
    <div class="span16">
        <h2>500 - Internal Server Error</h2>
        <p class="implying">&gt;2011+4</p>
        <p class="implying">&gt;having competent web developers</p>
    </div>
</div>
{% endblock %}
