{% extends 'master.twig' %}

{% block title %}Credits{% endblock %}

{% block content %}
<style type="text/css">
  @font-face {
    font-family: "Bebas Neue";
    src: url('/fonts/BebasNeue.eot');
    src: url('/fonts/BebasNeue.eot?#iefix') format('embedded-opentype'),
    url("/fonts/BebasNeue.woff") format("woff"),
    url("/fonts/BebasNeue.ttf") format("truetype");
  url("/fonts/BebasNeue.svg#svgBebasNeue") format("svg"),
  }

  body {
    background: url("/2014voting/bg_tile.png") #212121 repeat;
    font-family: Calibri, Arial, sans-serif;
    color: white;
    overflow-x: hidden;
  }

  .navbar, .navbar .navbar-inner {
    -moz-box-shadow:    none;
    -webkit-box-shadow: none;
    box-shadow:         none;
    border:             none;
    background: #212121 url("/2014voting/bg_tile.png");
  }

  .navbar a {
    color: white !important;
    text-shadow: none !important;
    background: none !important;
  }
  .navbar a:hover {
    background: rgba(0, 0, 0, 0.1) !important;
  }

  .navbar .nav>.active>a {
    box-shadow: inset 0 3px 15px rgba(255, 255, 255, 0.125);
    -webkit-box-shadow: inset 0 3px 15px rgba(255, 255, 255, 0.125);
    -moz-box-shadow: inset 0 3px 15px rgba(255, 255, 255, 0.125);
  }

  .navbar-fixed-top {
    /*border-bottom: 3px solid lime;*/
    border: none;
  }

  .navbar-fixed-bottom {
    /*border-top: 3px solid lime;*/
    border: none;
  }

  .navbar .brand {
    font-weight: bold;
  }

h2 {
  font-family: "Bebas Neue", Tahoma, sans-serif;
  font-size: 40px;
  color: #f2ff1a;;
}

.row h1 small {
  color: white;
  font-size: 21px;
  text-shadow: none;
}

  .page-header h1 {
    font-family: "Bebas Neue", Tahoma, sans-serif;
    color: #f2ff1a;;
    font-size: 50px;
  }

  .page-header {
    text-align: center;
    border: none;
    background: transparent url("/2014voting/shadow_top.png") bottom center no-repeat;
    margin-bottom: 0px;
  }

  .page-header.the-bottom {
    background: url("/2014voting/shadow_bot.png") center 14px no-repeat;
    padding-top: 20px;
    margin-bottom: 20px;
  }

.thumbnails ul {
  list-style-type: none;
  margin-left: 0px;
}

.thumbnail {
  padding-left: 20px;
  padding-right: 20px;
  
}

.thumbnails ul li {
  text-align: right;
  padding-bottom: 3px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.thumbnails ul li:hover {
  white-space: normal;
}

.thumbnails ul li:first-child {
  text-align: left;
  font-weight: bold;
  font-family: "ArtBrush";
}

.thumbnails {
  font-size: larger;
}

  a, a:hover {
    text-decoration: none;
    color: #f2ff1a;
    padding: 5px;
  }
  a:hover {
    background: rgba(0,0,0,0.20)
  }



.thumbnail {
  min-height: 70px;
}



/*h2.cast {
  text-shadow: 0px 0px 15px yellow;
  color: yellow;
}

.cast a {
  color: yellow;
}

.cast a:hover {
  color: #ffcc00;
}

.cast .thumbnail {
  border: 2px solid yellow;
  -moz-box-shadow:    0px 0px 10px 2px yellow;
    -webkit-box-shadow: 0px 0px 10px 2px yellow;
    box-shadow:         0px 0px 10px 2px yellow;
}



h2.skits {
  text-shadow: 0px 0px 15px aqua;
  color: aqua;
}

.skits a {
  color: aqua;
}

.skits a:hover {
  color: #1B91E0;
}

.skits .thumbnail {
  border: 2px solid aqua;
  -moz-box-shadow:    0px 0px 10px 2px aqua;
    -webkit-box-shadow: 0px 0px 10px 2px aqua;
    box-shadow:         0px 0px 10px 2px aqua;
}


h2.crew {
  text-shadow: 0px 0px 15px lime;
  color: lime;
}

.crew a {
  color: lime;
}

.crew a:hover {
  color: #1EBF15;
}

.crew .thumbnail {
  border: 2px solid lime;
  -moz-box-shadow:    0px 0px 10px 2px lime;
    -webkit-box-shadow: 0px 0px 10px 2px lime;
    box-shadow:         0px 0px 10px 2px lime;
}


h2.media {
  text-shadow: 0px 0px 15px fuchsia;
  color: fuchsia;
}

.media a {
  color: fuchsia;
}

.media a:hover {
  color: #9D15BF;
}

.media .thumbnail {
  border: 2px solid fuchsia;
  -moz-box-shadow:    0px 0px 10px 2px fuchsia;
    -webkit-box-shadow: 0px 0px 10px 2px fuchsia;
    box-shadow:         0px 0px 10px 2px fuchsia;
}

h2.thanks {
  text-shadow: 0px 0px 15px white;
  color: white;
}

.thanks .thumbnail {
  border: 2px solid white;
  -moz-box-shadow:    0px 0px 10px 2px white;
    -webkit-box-shadow: 0px 0px 10px 2px white;
    box-shadow:         0px 0px 10px 2px white;
} */

.thumbnail a:hover {
  background: rgba(0, 0, 0, 0.1);
  text-decoration: none;
  color: #509e20;
}

.thumbnail {
  border: 3px dashed black;
  
  -moz-box-shadow:    0px 0px 30px 5px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0px 0px 30px 5px rgba(0,0,0,0.1);
  box-shadow:         0px 0px 30px 5px rgba(0,0,0,0.1);
}

.credits {
  text-align: center;
  font-size: 20px;
  line-height: 30px;
}

.FLAOT {
  display: inline-block;
  margin: 0 20px;
}
</style>

<div class="page-header">
  <h1>Cast and Crew of the 2015 Vidya Gaem Awards</h1>
  <div class="hr"></div>
</div>

<div class="credits">
  <div class="row">
    <div class="col-md-6">
      <h2>Production Team:</h2>
      <p>Directed by <strong>PhoneEatingBear</strong></p>
      <p>Produced by <strong>Anonymous</strong> &amp; <strong>PhoneEatingBear</strong></p>
      <p>Template by <strong>Segab</strong> & <strong>Monoframe</strong></p>
      <p>Edited by <strong>Segab</strong> <small>(award template)</small>,<br><strong>PhoneEatingBear</strong> <small>(main show)</small> & <strong>Anonymous</strong> <small>(preshow)</small></p>
      <p>Voiced by <strong>Ahch117</strong>, <strong>CounterTunes</strong>, <strong>Duke</strong>, <strong>Jackald</strong>, <strong>SlamBliss</strong>, <strong>TheVoiceGuy</strong> & <strong>Yue</strong></p>
      <p>Logo by <strong>Monoframe</strong></p>
      <p>Preshow Music Mix by <strong>Jab50Yen</strong></p>

      <h2 style="margin-top: 50px;">Writing Team:</h2>

      <p>
        <strong>9Kbits</strong>, <strong>Beatstar</strong>, <strong>Dr. J</strong>, <strong>Duke</strong>, <strong>HL2.EXE</strong>,
        <strong>Importuno</strong>, <strong>Kurushi</strong>, <strong>Lamer Gamer</strong>, <strong>LennyReviews</strong>,
        <strong>PhoneEatingBear</strong>, <strong>Tess</strong> & <strong>Yue</strong>
      </p>

      <h2 style="margin-top: 50px;">Awards:</h2>
      <p>
        Most awards by <strong>Anonymous</strong>, <strong>CounterTunes</strong>, <strong>Cluey</strong>, <strong>Monoframe</strong>,
        <strong>PhoneEatingBear</strong> & <strong>Segab</strong>
      </p>

      <p>
        "Jet Set Award Future", "A E S T H E T I C S Award" & "Silent&nbsp;Protagonist Award" by <strong>Segab</strong>
      </p>

      <p>
        "Hyperbole Award" by <strong>Cluey3</strong>
      </p>

      <p>
        ">>> /a/ Award" by <strong>PhoneEatingBear</strong>
      </p>

      <p>
        "Press X To Win The Award" by <strong>Anonymous</strong>
      </p>
    </div>
    <div class="col-md-6">
        <h2>Skits:</h2>
        <p>
          &ldquo;Five Nights at Undertale&rdquo; &ndash; <strong>Rucdose</strong><br>
          &ldquo;FUNNYKAT2016 THE MOVIE&rdquo; &ndash; <strong>Klixy</strong><br>
          &ldquo;My Waifu&rdquo; &ndash; <strong>Beatstar</strong> & <strong>UnusualCharacters</strong><br>
          &ldquo;Nintendo's Dead&rdquo; &ndash; <strong>Stuff3</strong><br>
          &ldquo;A Weapon&rdquo; &ndash; <strong>Jetstorm John</strong><br>
          &ldquo;He will be remembered&rdquo; &ndash; <strong>CounterTunes</strong><br>
          &ldquo;Press F to Pay Respects&rdquo; &ndash; <strong>Segab</strong><br>
          &ldquo;vidya skit&rdquo; &ndash; <strong>Rucdose</strong><br>
          &ldquo;Metal Gear Profit&rdquo; &ndash; <strong>Whomobile</strong><br>
          &ldquo;Ending Skit&rdquo; &ndash; <strong>PhoneEatingBear</strong><br>
        </p>

      <p style="margin-top: 30px;">
        &ldquo;AAAAWWWWWOOOOOOOOOOOOOO&rdquo; &ndash; <strong>Jetstorm John</strong><br>
        &ldquo;Bring Moon To Life&rdquo; &ndash; <strong>Most</strong><br>
        &ldquo;EVEangelion&rdquo; &ndash; <strong>MandaloreGaming</strong><br>
        &ldquo;Shadow of the Pearl&rdquo; &ndash; <strong>Cave Game Troll</strong><br>
        &ldquo;Snake Eater Tribute&rdquo; &ndash; <strong>Marty MacFLAC</strong><br>
        &ldquo;TECHYON MASHUP&rdquo; &ndash; <strong>Beatstar</strong><br>
        &ldquo;TWIN SNAEKS&rdquo; &ndash; <strong>Chris Huddleston</strong><br>
        &ldquo;Very Good Game Show Yes!&rdquo; &ndash; <strong>Ehmaysi</strong><br>
        &ldquo;Nintendont&rdquo; &ndash; <strong>Anony Mous</strong><br>
      </p>

      <h2 style="margin-top: 50px;">Pleb Patrol:</h2>
      <p>Website by <strong>Clamburger</strong> and <strong>Segab</strong></p>
      <p>Logistics by <strong>iAxX</strong></p>
      <p>Japanese translation by <strong>Ahch117</strong></p>
    </div>
  </div>
  <div class="row" style="margin-top: 60px;">
    <div class="col-md-12">
      <h2 style="margin-top: 50px; margin-bottom: 20px;">Special Thanks:</h2>
      <p class="FLAOT"><strong>Atlus USA</strong></p>
      <p class="FLAOT"><strong>Destructive Creations</strong></p>
      <p class="FLAOT"><strong>Toby Fox</strong></p>
      <p style="margin-top: 20px;">And most importantly, <strong style="font-size: x-large;">you!</strong></p>
    </div>
  </div>
  <div class="row" style="margin-top: 60px;">
    <div class="col-xs-12">
      <h2 class="implying">&gt;they're contributors to a shitty online video game award show</h2>
      <h2 class="implying">&gt;they take their jobs very seriously</h2>
      <h2 class="implying">&gt;they do it for free</h2>
      <img src="/for-free.jpg" width="200px">
    </div>
  </div>
</div>

<div class="page-header the-bottom">
  <h1>&nbsp;</h1>
</div>
{% endblock %}
