<!DOCTYPE html>
<html lang="en">
<head>
  <title>The Vidya Gaem Awards</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/voting.css">

  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js'></script>
  <script src='/js/dumbshit.js'></script>

  <meta name="viewport" content="width=1100, maximum-scale=1.0, user-scalable=no" />
  <meta HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=utf-8"/>

  <style type="text/css">
    .logo {
      border: 2px solid #af3a81;
      box-shadow: 0 0 10px #af3a81;

      margin: 10px;
      background: black;
    }

    .title {
      text-align: center;
    }

    .title h1 {
      font-weight: normal;
      font-size: 55px;
      line-height: 1em;
      color: #00ebdb;
      text-shadow: 0 0 10px #00ebdb;
      background: url(/2016images/title_bg.png) center center no-repeat;
      margin-bottom: 0;
      padding: 20px 0 10px 0;
    }

    .title h2 {
      font-family: "Annapolis", Tahoma, sans-serif;
      color: #f7d059;
      font-size: 38px;
      font-weight: normal;
      line-height: 0.95em;
      margin-top: 0;
      text-shadow: 0 0 3px #f7d059;
    }

    .subtitle {
      text-align: center;
      font-size: 50px;
      line-height: 0.5em;
      margin: 20px;
      font-family: "FixedSystem", "Courier New", monospace;
      color: silver;
    }

    .subtitle .main {
      font-size: 40px;
      line-height: 1em;
    }

    .subtitle .soon {
      padding: 3px;
      display: inline-block;
    }

    a, a:hover {
      text-decoration: none;
      color: #f85898;
      padding: 3px;
      display: inline-block;
    }
    a:hover {
      color: white;
    }
    .zig {
      margin: 20px 0;
    }
  </style>
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-xs-12">
        <div class="logo">
          <iframe width="100%" height="460" src="https://www.youtube.com/embed/Gh9DdRKk_4I" frameborder="0"
                  allowfullscreen=""></iframe>
        </div>
        {#<img class="logo" src="/2016images/alternate_logo.png" style="height: 400px; margin: 10px auto;">#}
        <div class="title">
          <h1>The 2016 Vidya Gaem Awards</h1>
          <h2 id="countdown">Thanks for watching!</h2>
        </div>
        <div class="subtitle">
          <a href="https://www.twitch.tv/videos/119869333">Watch it on Twitch</a> <span style="font-size: 30px;">(feat. chat replay)</span><br>
          <a href="https://www.youtube.com/watch?v=Gh9DdRKk_4I">Watch it on YouTube</a><br>
          <a href="https://mega.nz/#!qgxSFYjb!K8KYREg8PjnwkDOWAKEWVOeFDBoi-fWk6sa4NdxKQZc">Direct download</a> <span style="font-size: 30px;">(6.29 GB)</span><br>
          <a href="{{ path('simpleResults') }}">See the winners</a><br>
          <a href="{{ path('detailedResults') }}">See the detailed results</a><br>
          <a href="{{ path('credits') }}">See the credits</a><br>
          <a href="{{ path('soundtrack') }}">Get the soundtrack</a> <span style="font-size: 30px; color: #f7d059">(new!)</span><br>
          <br>
          <a href="https://vidyagaemawards.com/previous-years">View previous years</a>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
