{% extends 'master.twig' %}

{% block content %}
    <header class="jumbotron masthead">
        <h1>2016 Vidya Gaem Awards</h1>
        <p class="implying">>implying you're opinion is worth shit</p>
    </header>
    <div class="row">
        <div class="col-xs-12">
            <h1>News <small><a href="{{ path('news') }}">view all</a></small></h1>
            <ul class="news">
                {% for item in news %}
                    <li class="{{ item.old and not loop.first ? 'news-old' : '' }}">
                        {% if item.new %}
                            <span class="label label-info">New</span>
                        {% endif %}
                        <strong>{{ item.timestamp|date('M j, Y') }}</strong>: {{ item.text }}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <a href="https://plus.google.com/111295979980964577432" rel="publisher">Google+</a>
{% endblock %}
