{% extends 'base/standard.twig' %}

{% block title %}Videos{% endblock %}

{% block head %}
    <style type="text/css">
        .filmstrip {
            background: url('/img/filmstrip.png') repeat-x bottom black;
            height: 42px;
        }

        body {
            padding-top: 50px;
        }

        .closed-banner {
            width: 100%;
            background-color: maroon;
            color: white;
            font-size: 20px;
            line-height: 2em;
            text-align: center;
        }
        
        .navbar-fixed-top {
            background-color: black;
        }

        .jumbotron {
            background-color: #1f1f1f;
            color: white;
            text-shadow: 3px 3px black;
            padding: 0;
            margin-bottom: 10px;
        }

        .jumbotron h1 {
            font-family: 'Bungee', sans-serif;
            font-size: 70px;
        }
    </style>
{% endblock %}

{% block beforeContainer %}
    {#<div class="closed-banner">Video submissions are now closed.</div>#}
    <header class="jumbotron masthead">
        <div class="filmstrip"></div>
        <div class="container" style="padding: 15px 0; background-image: url('/img/frames.jpg');">
            <h1>Talent shouldn't go unrewarded.</h1>
            <p>You could win $100 USD from your skit!</p>
        </div>
        <div class="filmstrip"></div>
    </header>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-7">
            <h2>Skits have been the foundation of this show since 2011.</h2>
            <p>That's why we think it's about time that we start acknowledging the hard work people go through to make content for the show.</p>
            <p>We don't expect too much, but this year you could win $100 USD from your skit if everyone else thinks it was great.</p>
            <p>If you have something you think fits the bill, go ahead and submit it! It doesn't have to be super serious, just quality vidya content.</p>
            <p>And if you don't want the cash prize, you can donate it to your favourite charity.</p>

            <h2 style="margin-top: 30px;">Guidelines</h2>
            <p>
                They're too long to list here, but you can find all the requirements <a href="https://docs.google.com/document/d/1YJl1cba_CmmzSUs0Fz4PEn6RocDIxMrbCrwdLyUZh54/edit?usp=sharing&pageId=108682107247307503311&authuser=1">here</a>. <b>you're gonna need to read them</b>
            </p>

            <h2 style="margin-top: 30px;">Submissions</h2>
            <p>Submit your video by clicking <a href="https://goo.gl/forms/pheDmFtQ7QD3yBxQ2">here</a>.</p>
            <p>Submissions will close on Jan 30. Voting on skits will happen after the show and the winners will be announced two weeks after.</p>
            <!--<p style='color: red; font-weight: bold;'>Video submission are now closed.</p>-->

        </div>
        <div class="col-md-5">
            <div class="well well-small">
            <h3 style="margin-top: 0px;">Requirements:</h3>
            <p>
                These are the basic requirements: check the <a href="https://docs.google.com/document/d/1YJl1cba_CmmzSUs0Fz4PEn6RocDIxMrbCrwdLyUZh54/edit?usp=sharing&pageId=108682107247307503311&authuser=1">requirements document</a> for the full details.
            </p>
            <ul>
                <li>Your video must be related to video games in some way.</li>
                <li>Must be at most 2-3 minutes long.</li>
                <li>Original content only.</li>
            </ul>

            <h3>Recommendations:</h3>
            <ul>
                <li>720p-1080p at 30-60fps unless it ruins the concept of the skit.</li>
                <li>Again, read the <a href="https://docs.google.com/document/d/1YJl1cba_CmmzSUs0Fz4PEn6RocDIxMrbCrwdLyUZh54/edit?usp=sharing&pageId=108682107247307503311&authuser=1">doc</a>.</li>
            </ul>

            <h3>Cash Prize:</h3>
            <ul>
                <li>The prize will be delivered to your paypal.me address. Don't have one? Make one, it comes with every PayPal account.</li>
                <li>If you don't wish to collect it, you can give it to a charity of your choice or our default charity.<br>
                    <small><em>The default charity for 2017 is the <a href="https://www.childrens.org.au/">Australian Children's Hospital Foundation</a>.</em></small>
                </li>
            </ul>
            </div>
        </div>
    </div>
{% endblock %}
