{% extends 'master.twig' %}

{% block content %}
<h1 class="page-header">Voting code for {{ date }}:</h1>

<p class="lead">https://2015.vidyagaemawards.com/vote/v/<code>{{ code }}</code></p>
{% endblock %}
