@media (max-width: 991px) {
  .navbar > .container {
    max-width: 100%;
  }
}

body {
  padding-top: 65px;
  padding-bottom: 20px;
  background: #EEF2FF top center repeat-x;
  /*font-family: Arial, helvetica, sans-serif;*/
}

.page-header.fancy {
  font-family: 'Asap', sans-serif;
  text-align: center;
  margin-top: 5px;
}

.breadcrumb {
  border: 1px solid rgba(0,0,0,.125);
}

.breadcrumb .breadcrumb-item.active a {
  color: #6c757d;
}

.breadcrumb-item.ms-auto::before {
  display: none;
}

.breadcrumb.fancy {
  margin-top: -20px;
  text-align: center;
  border-bottom: 1px solid #BBB;
  border-radius: 0;
}

img.profile-pic {
  border-radius: 100%;
}

input, select, textarea {
  /*font-family: arial, helvetica, sans-serif;*/
}

.bg-yotsuba {
  background: #D6DAF0;
}

.bg-yotsuba .nav-item .nav-link {
  color: #34345c !important;
}

.bg-yotsuba .nav-item .nav-link:hover {
  color: #d00 !important;
}

.implying {
  color: #789922;
}

.spoiler {
  background-color: black;
  color: black;
}

.spoiler:hover {
  color: white;
}

.news {
  font-size: 120%;
}

.news li {
  line-height: 150%;
  margin-bottom: 10px;
}

.news .news-old {
  color: grey;
}

.container[role="main"] {
  padding-bottom: 40px;
}

.jumbotron {
  position: relative;
}

.masthead {
  padding-top: 36px;
  margin-bottom: 72px;
}

.masthead h1 {
  margin-bottom: 18px;
}

.masthead h1, .masthead p {
  text-align: center;
}

.jumbotron h1 {
  margin-bottom: 9px;
  font-size: 70px;
  letter-spacing: -1px;
  line-height: 1;
}

.board-header {
  color: #AE1216;
  text-align: center;
  font-family: Tahoma, sans-serif;
  font-weight: 700;
  letter-spacing: -2px;
}

.board-subheader {
  color: #AE1216;
  text-align: center;
  font-size: 1.25rem;
  font-family: Tahoma, sans-serif;
}

.masthead p {
  margin-left: 5%;
  margin-right: 5%;
  font-size: 30px;
  line-height: 36px;
}

.page-header {
  border-bottom-color: #BBB;
}

.form-table input {
  margin-bottom: 0;
}

.subhead h1 {
  font-size: 54px;
}

section {
  padding-top: 30px;
}

.page-header.spacing {
  padding-top: 30px;
}

.table {
  background: white;
}

table.tablesorter thead tr th {
  background: url("/img/sort.gif") no-repeat center right;
  cursor: pointer;
}

table.tablesorter thead tr .headerSortDown {
  background-image: url("/img/desc.gif");
}

table.tablesorter thead tr .headerSortUp {
  background-image: url("/img/asc.gif");
}

/* Sidenav for Docs
-------------------------------------------------- */

.custom-navigation-pane {
  padding: 0;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .065);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, .065);
  box-shadow: 0 1px 4px rgba(0, 0, 0, .065);
}

.custom-navigation-pane > li > a {
  display: block;
  *width: 190px;
  margin: 0 0 -1px;
  padding: 8px 14px;
  border: 1px solid #e5e5e5;
}

.custom-navigation-pane > .active > a {
  position: relative;
  z-index: 2;
  padding: 9px 15px;
  border: 0;
  text-shadow: 0 1px 0 rgba(0, 0, 0, .15);
  -webkit-box-shadow: inset 1px 0 0 rgba(0, 0, 0, .1), inset -1px 0 0 rgba(0, 0, 0, .1);
  -moz-box-shadow: inset 1px 0 0 rgba(0, 0, 0, .1), inset -1px 0 0 rgba(0, 0, 0, .1);
  box-shadow: inset 1px 0 0 rgba(0, 0, 0, .1), inset -1px 0 0 rgba(0, 0, 0, .1);
}

/* Chevrons */

ul.nav li.dropdown:hover ul.dropdown-menu {
  display: block;
}

/* 🤔 */
.emoji {
  width: 28px;
}

/*
 * Admin Navbar (as seen on the awards manager, for example)
 */
.admin-navbar {
  top: -10px;
  font-size: small;
  padding-bottom: .25rem;
  padding-top: 0;
  z-index: 1029;
}

.admin-navbar .navbar-brand {
  font-size: small;
}

.admin-navbar .dropdown-menu {
  padding: .25rem 0;
}

.admin-navbar .dropdown-menu .dropdown-item {
  font-size: small;
  padding: .25rem .5rem;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 56px 0 56px 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  border-right: 1px solid #BBB;
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 56px - 56px);
  padding: .5rem 0;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

.sidebar-top-padding {
  height: 38px;
  display: flex;
  align-items: center;
  padding: .5rem 1rem;
  background: #eaeaea;
  border-bottom: 1px solid #BBB;
}

.sidebar .nav-item .nav-link {
  color: #34345c;
}

.sidebar .nav-item .nav-link.active {
  color: #789922;
}

.sidebar .nav-item .nav-link.active .award-name::before {
  content: '>';
}

.sidebar .nav-item .nav-link:hover {
  color: #D00 !important;
}

/* Styles from older versions of Bootstrap that were removed in Bootstrap 5 */
.form-group {
  margin-bottom: 1rem;
}

.breadcrumb {
  padding: 0.75rem 1rem;
  background-color: #e9ecef;
  border-radius: 0.25rem;
}

.form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

@media (min-width: 576px) {
  .form-inline .input-group {
    width: auto;
  }
}

small, .small {
  font-weight: 400;
}
