@media (max-width: 991px) {
  .navbar > .container {
    max-width: 100%;
  }
}

body {
  padding-top: 65px;
  padding-bottom: 20px;
  background: #EEF2FF top center repeat-x;
  /*font-family: Arial, helvetica, sans-serif;*/
}

.page-header.fancy {
  font-family: 'Asap', sans-serif;
  text-align: center;
  margin-top: 5px;
}

.breadcrumb {
  border: 1px solid rgba(0,0,0,.125);
}

.breadcrumb .breadcrumb-item.active a {
  color: #6c757d;
}

.breadcrumb-item.ml-auto::before {
  display: none;
}

.breadcrumb.fancy {
  margin-top: -20px;
  text-align: center;
  border-bottom: 1px solid #BBB;
  border-radius: 0;
}

img.profile-pic {
  border-radius: 100%;
}

input, select, textarea {
  /*font-family: arial, helvetica, sans-serif;*/
}

.implying {
  color: #789922;
}

.spoiler {
  background-color: black;
  color: black;
}

.spoiler:hover {
  color: white;
}

.news {
  font-size: 120%;
}

.news li {
  line-height: 150%;
  margin-bottom: 10px;
}

.news .news-old {
  color: grey;
}

.container[role="main"] {
  padding-bottom: 40px;
}

.jumbotron {
  position: relative;
  font-family: 'Asap', sans-serif;
}

.masthead {
  padding-top: 36px;
  margin-bottom: 72px;
}

.masthead h1 {
  margin-bottom: 18px;
}

.masthead h1, .masthead p {
  text-align: center;
}

.jumbotron h1 {
  margin-bottom: 9px;
  font-size: 70px;
  letter-spacing: -1px;
  line-height: 1;
}

.masthead p {
  margin-left: 5%;
  margin-right: 5%;
  font-size: 30px;
  line-height: 36px;
}

.page-header {
  border-bottom-color: #BBB;
}

.form-table input {
  margin-bottom: 0;
}

.subhead h1 {
  font-size: 54px;
}

section {
  padding-top: 30px;
}

.page-header.spacing {
  padding-top: 30px;
}

.table {
  background: white;
}

table.tablesorter thead tr th {
  background: url("/img/sort.gif") no-repeat center right;
  cursor: pointer;
}

table.tablesorter thead tr .headerSortDown {
  background-image: url("/img/desc.gif");
}

table.tablesorter thead tr .headerSortUp {
  background-image: url("/img/asc.gif");
}

/* Sidenav for Docs
-------------------------------------------------- */

.custom-navigation-pane {
  padding: 0;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .065);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, .065);
  box-shadow: 0 1px 4px rgba(0, 0, 0, .065);
}

.custom-navigation-pane > li > a {
  display: block;
  *width: 190px;
  margin: 0 0 -1px;
  padding: 8px 14px;
  border: 1px solid #e5e5e5;
}

.custom-navigation-pane > .active > a {
  position: relative;
  z-index: 2;
  padding: 9px 15px;
  border: 0;
  text-shadow: 0 1px 0 rgba(0, 0, 0, .15);
  -webkit-box-shadow: inset 1px 0 0 rgba(0, 0, 0, .1), inset -1px 0 0 rgba(0, 0, 0, .1);
  -moz-box-shadow: inset 1px 0 0 rgba(0, 0, 0, .1), inset -1px 0 0 rgba(0, 0, 0, .1);
  box-shadow: inset 1px 0 0 rgba(0, 0, 0, .1), inset -1px 0 0 rgba(0, 0, 0, .1);
}

/* Chevrons */

ul.nav li.dropdown:hover ul.dropdown-menu {
  display: block;
}

/* 🤔 */
.emoji {
  width: 28px;
}
