@font-face {
  font-family: 'AnnapolisHalftoneItalic';
  src: local('☺'), url('/fonts/AnnapolisHalftoneItalic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Annapolis';
  src: local('☺'), url('/fonts/Annapolis.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FixedSystem';
  src: local('☺'), url('/fonts/FixedSystem.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html {
  background: #20172f url("/2016images/background_city.jpg") no-repeat center center fixed;
  background-size: cover;
}

body {
  background: none;
}

.zig {
  clear: both;
  height: 15px;
  margin: 30px 0;
  background-image: url("/2016images/zig.png");
}

/* Typography (headings) */
h1, h2 {
  font-weight: normal;
}

h1 {
  font-family: 'AnnapolisHalftoneItalic', 'Tahoma Bold', Tahoma, sans-serif;
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  font-size: 3em;
  line-height: 100%;
  color: #00ebdb;
}

h2 {
  font-family: 'FixedSystem', Calibri, sans-serif;
  font-size: 2em;
  color: #bfbfbf;
}

/* Navbar */
.navbar, .navbar .navbar-inner {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  background: url(/2016images/background_city.jpg) #1f1f1f no-repeat center center;
  background-size: cover;
}

.navbar a {
  font-family: 'FixedSystem', Calibri, sans-serif !important;
  font-size: 35px;
  color: white !important;
  text-shadow: none !important;
  background: none !important;
}

.navbar a:hover {
  color: #f0f1a3 !important;
}

.navbar .nav > .active > a {
  box-shadow: inset 0 3px 15px rgba(255, 255, 255, 0.125);
  -webkit-box-shadow: inset 0 3px 15px rgba(255, 255, 255, 0.125);
  -moz-box-shadow: inset 0 3px 15px rgba(255, 255, 255, 0.125);
}

.navbar-fixed-top {
  border-bottom: 1px solid #f0f1a3;
  box-shadow: 0 0 5px #f0f1a3;
}

.navbar-fixed-bottom {
  border-top: 1px solid #f0f1a3;
  box-shadow: 0 0 5px #f0f1a3;
}

.navbar-brand {
  font-weight: normal;
}
