@font-face {
  font-family: 'AnnapolisHalftoneItalic';
  src: local('☺'), url('/fonts/AnnapolisHalftoneItalic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Annapolis';
  src: local('☺'), url('/fonts/Annapolis.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FixedSystem';
  src: local('☺'), url('/fonts/FixedSystem.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html {
  background: #20172f url("/2016images/background_city.jpg") no-repeat center center fixed;
  background-size: cover;
}

body {
  background: none;
}

.zig {
  clear: both;
  height: 15px;
  margin: 30px 0;
  background-image: url("/2016images/zig.png");
}

