/*@font-face {*/
  /*font-family: 'AnnapolisHalftoneItalic';*/
  /*src: local('☺'), url('/fonts/AnnapolisHalftoneItalic.woff') format('woff');*/
  /*font-weight: normal;*/
  /*font-style: normal;*/
/*}*/

/*@font-face {*/
  /*font-family: 'Annapolis';*/
  /*src: local('☺'), url('/fonts/Annapolis.woff') format('woff');*/
  /*font-weight: normal;*/
  /*font-style: normal;*/
/*}*/

/*@font-face {*/
  /*font-family: 'FixedSystem';*/
  /*src: local('☺'), url('/fonts/FixedSystem.woff') format('woff');*/
  /*font-weight: normal;*/
  /*font-style: normal;*/
/*}*/

@font-face {
    font-family: 'Trajan Pro 3';
    src: url('/fonts/TrajanPro3-Regular.woff2') format('woff2'),
        url('/fonts/TrajanPro3-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Corbel';
    src: url('/fonts/Corbel.woff2') format('woff2'),
        url('/fonts/Corbel.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}




html {
  background: 
  url(/2018images/bg_dots.gif) fixed, 
  url(/2018images/bg_stars.png) no-repeat fixed bottom center, 
  url(/2018images/bg_crowd.jpg) no-repeat top center, 
  linear-gradient(to bottom, rgb(17, 22, 42) 8%, rgb(50, 42, 63) 37%);
}

body {
  background: none;
  color: white;
  font-family: Arial, sans-serif;
}

.zig {
  clear: both;
  height: 15px;
  margin: 20px 0;
    background: linear-gradient(to right, 
	rgba(254,197,68,0.1) 0%,
	rgba(254,197,68,1) 15%,
	rgba(254,197,68,0.3) 60%,
	rgba(254,197,68,0.1) 100% );
  }
}

/* Typography (headings) */
h1, h2 {
  margin: 0;
}

h1 {
  font-family: "Trajan Pro 3", serif;
  font-weight: normal;
  text-transform: uppercase;
  color: #fec544;
  text-shadow: #00000075 5px 5px 5px;
  font-size: 3em;
  line-height: 100%;
}

h2 {
  font-family: "Corbel", Arial, sans-serif;
  font-weight: normal;
  font-size: 1.5em;
  color: #e7e7e7;
  text-shadow: #00000075 5px 5px 5px;
}

/* Navbar */
.navbar, .navbar .navbar-inner {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  background-color: rgb(251, 68, 7);
}

.navbar a {
  color: white !important;
  background: none !important;
  text-shadow: black 1px 1px;
}

.navbar a:hover {
  text-shadow: black 3px 3px 1px;
}

.navbar .nav > .active > a {
  box-shadow: inset 0 3px 15px rgba(255, 255, 255, 0.125);
  -webkit-box-shadow: inset 0 3px 15px rgba(255, 255, 255, 0.125);
  -moz-box-shadow: inset 0 3px 15px rgba(255, 255, 255, 0.125);
}

.navbar-fixed-top {
  border-bottom: 1px solid yellow;
  box-shadow: 0 0 5px yellow;
}

.navbar-fixed-bottom {
  border-top: 1px solid yellow;
  box-shadow: 0 0 5px yellow;
}

.navbar-brand {
  font-weight: normal;
}
