* {
  margin: 0;
  padding: 0;
}

a, a:hover {
  text-decoration: none;
}
a img { border:none;}
img {display:block;}

article, aside, figcaption, figure, footer, header, nav, section {
  display: block;
}

/*::selection {
  opacity: 0;
  background: rgba(0,0,0,0);
}   

::-moz-selection {
  opacity: 0;
  background: rgba(0,0,0,0);
}   

::-webkit-selection {
  opacity: 0;
  background: rgba(0,0,0,0);
}*/

*, :before, :after {
  box-sizing: border-box;
}




@font-face {
	font-family: 'modern typewriter';
	src: url('/fonts/modern typewriter.eot');
	src: local('☺'), url('/fonts/modern typewriter.woff') format('woff'), url('/fonts/modern typewriter.ttf') format('truetype'), url('/fonts/modern typewriter.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'yoster';
	src: url('/fonts/yoster.eot');
	src: local('☺'), url('/fonts/yoster.woff') format('woff'), url('/fonts/yoster.ttf') format('truetype'), url('/fonts/yoster.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


html {
	background: black url("/2015voting/bg.gif");
}

body {
  background: none;
  font-size: 16px;
  line-height: 16px;
  padding-top: 10px;
}

img {
  max-width: none;
}


header{
	width: 960px;
	height: 150px;
	margin: 0 auto 30px;
}

.zig{
	clear: both;
	height: 20px;
	margin: 50px 0;
	background-image: url("/2015voting/zig_horizontal.gif"); 
}


p {
  padding: 10px;
}

h1, h2 {
  margin:0;
  padding:0;
  color: #f85898;
  font-weight: normal;
}

h1{
	font-family: "modern typewriter", Tahoma, sans-serif;
	text-transform: uppercase;
	font-size: 3em;
	line-height: 100%;
}
h2 {
	font-family: "yoster", Calibri, sans-serif;
	font-size: 1em;
	line-height: 100%;
	color: #bfbfbf;
	font-smooth: never;
	-webkit-font-smoothing : none;
}

header h1{
	float: right;
	width: 550px;
	font-size: 2em;
	text-align:center;
	margin-top: 28px;
	font-weight: normal;
}
header h2{
	float: right;
	width: 550px;
	text-align: center;
}

#thelogo{
	float: left;
	margin-top: 18px;
}

#wrapper {
  width: 988px;
	position: relative;
	margin: 0 auto 90px;
}

/* Award Header */


.awardHeader {
  text-align: center;
  position: relative;
  margin-bottom: 45px;
}

.awardHeaderContainer {
  margin: 0 50px;
  padding-top: 24px;
  height: 106px;
  background: url(/2015voting/title_bg.gif) top center no-repeat;
}
.awardName {
  font-family: "modern typewriter", Tahoma, sans-serif;
  text-transform: uppercase;
  font-size: 3em;
  line-height: 50px;
  color: #00ebdb;
}
.awardSubtitle {
	color: #00ebdb;
	width: 888px;
}


.navigation {
	width: 34px;
	height:  42px;
	position: absolute;
	top: 36px;
	cursor: pointer;
	display: block;
}

.navigation.left {
	left: 0;
	background: url("/2015voting/btnNav_left.gif") 0px 0px;
}
.left:hover {
	background-position: 0px bottom;
}

.navigation.right {
	right: 0;
	background: url("/2015voting/btnNav_right.gif") 0px 0px;
}
.right:hover {
	background-position: 0px bottom;
}

footer .navigation {
  top: 8px;
  display: none;
}

#dontforget{
	position: absolute;
	top: 218px;
	right: -40px;
}


/* Column layout */

#limitsDrag {
  padding-left: 14px;
  float: left;
  overflow: hidden;
}

.column {
  position: relative;
  float: left;
}

#nomineeColumn {
  width: 473px;
}

#spacerColumn {
  width: 14px;
}

#voteColumn {
  width: 473px;
}

#voteColumn > img {
  margin-left: 239px;
}

/* Nominee Box */

.aNominee {
  position: relative;
  background: white;
}

.nomineeImage {
  width: 473px;
  height: 126px;
}

.info{
	width: 26px;
	height: 26px;
	position: absolute;
	top: 4px;
	left: 4px;
	z-index: 55;
	background: url("/2015voting/info.png") center top no-repeat;
	cursor: help;
}
.info:hover{
	background-position: center bottom;
}
.innerInfo {
	display: none;
	background-color: rgba(0,0,0,0.6);
	position: relative;
	top: 0px;
	left: 30px;
	padding: 3px;
	width: 433px;
	height: auto;
	font-family: Calibri,sans-serif;
	font-size: 0.81em;
	line-height: 13px;
	color: white;
}
.info:hover .innerInfo {
	display: block;
}

.aNominee .fakeBorder {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 41;
}

.aNominee img.locked {
  display: none;
}

.aNominee.locked img.locked {
  display: block;
}

#nomineeColumn .number {
  display: none;
}

/* Nominee Box - Info Panel */

.nomineeInfo {
  position: absolute;
  bottom: 2px;
  left: 2px;
  width: 469px;
  background: url("/2015voting/blackbar.png");
  z-index: 99;
}

.nomineeInfo .nomineeName {
	color: #f85898;
	font-family: "modern typewriter", Tahoma, sans-serif;
	text-transform: uppercase;
	font-size: 1em;
	padding: 4px 0 0 5px;
}

.nomineeInfo .nomineeSubtitle {
  font-family: "Calibri",arial,sans-serif;
  color: #80d7d1;
  font-size: 0.85em;
  padding: 0 0 0 4px;
}

.nomineeSubtitle a{
	color: white;
}
.nomineeSubtitle a:hover{
	color: white;
	text-decoration: underline;
}

/* Vote Box */

.voteBox {
  clear:both;
  float:left;
  position: relative;
  width: 100%;
  height: 126px;
  background: rgba(246, 231, 190, 0.5) url("/2015voting/votebox_background.png");
  margin-bottom: 4px;
}

/*.voteBox.locked {
  background: none;
}*/

.voteBox.dragging {
  /*background-image: url("/votebox_background_drag.png");*/
}

.number {
  position: absolute;
	top: 7px;
	right: 7px;
	color: #f85898;
	text-decoration: none;
	text-transform: uppercase;
	font-family: "modern typewriter", Tahoma, sans-serif;
	font-size: 1.6em;
	line-height: 1em;
}

/**************/


#containerAwards {
	clear: both;
	width: 988px;
	margin: 0 auto;
	padding-bottom: 30px;
	overflow: auto;
}

#containerAwards h2, #limitsDrag h2 {
  height: 52px;
}
    
.award {
	display: block;
	position: relative;
	padding: 5px;
	border-top: none;
	width: 463px;
	float: left;
	margin-left: 14px;
}

.award:hover {
  background: rgba(0,0,0,0.20);
}

/** extra awards **/
#containerAwards .award:nth-child(27){
	margin-top: 20px;
    width: 500px;
}
#containerAwards .award:nth-child(28){
    width: 500px;
}
#containerAwards .award:nth-child(29){
    width: 500px;
}
#containerAwards .award:nth-child(30){
    width: 500px;
}


.award h3 {
	color: #80d7d1;
	text-decoration: none;
	font-family: Calibri, sans-serif;
	font-weight: bold;
	font-size: 1em;
	line-height: 0.95em;
	padding: 0;
	margin: 0 5px 0 17px;
	display: inline;
}

.award p {
	text-decoration: none;
	color: #80d7d1;
	font-family: Calibri,sans-serif;
	font-size: 0.9em;
	padding: 0;
	margin: 0;
	display: inline;
}

.active {
  background: rgba(0,0,0,0.25);
}
.active:hover {
  background: rgba(0,0,0,0.3);
}

.complete:before {
	content: "";
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 26px;
	height: 100%;
	background: url("/2015voting/check.gif") 0px center no-repeat;
}

.voteBoxUsed {
  background: green;
}

.btnSubmit {
  cursor: pointer;
  margin-top: 10px;
  float:left;
  height: 49px;
  position: relative;
}
    
#btnLockVotes {
  margin-left: 14px;
  height: 58px;
  width: 149px;
	background: url("/2015voting/btn_submit.gif") 0px 0px;
}

#btnResetVotes {
  width: 138px;
  height: 58px;
	background: url("/2015voting/btn_reset.gif") 0px 0px;
	margin-left: 348px;
}

#btnLockVotes:hover {
  background-position: 0px center;
}

#btnResetVotes:hover {
  background-position: 0px -58px;
}


.iVoted {
  background-position: 0px bottom !important;
  cursor: default;
}

#arrow_left {
	float: left;
	margin-left: 216px;
	margin-top: 10px;
}

#arrow_right {
	float: left;
	margin-top: 10px;
}

#topAwards {
	color: #00ebdb;
}

#overlay {
  cursor: pointer;
  width: 650px;
  height: 471px;
  -moz-box-shadow:    0px 0px 60px 0px rgba(0,0,0,0.4);
  -webkit-box-shadow: 0px 0px 60px 0px rgba(0,0,0,0.4);
  box-shadow:         0px 0px 60px 0px rgba(0,0,0,0.4);
}

.shit {
  position:absolute;
  z-index:999;
  left:0px;
  top:-200px;
  display:none;
  color: white;
  font-size: 4em;
  width: 100%;
  text-align: center;
  line-height: 85px;
  animation: dumb 9s infinite linear;
  -moz-animation: dumb 9s infinite linear; /* Firefox */
  -webkit-animation: dumb 9s infinite linear; /* Safari and Chrome */
  -o-animation: dumb 9s infinite linear; /* Opera */
}
    
@keyframes dumb
{
    0%{top:1500px;}
    100%{top:-200px;}
}

@-moz-keyframes dumb /* Firefox */
{
    0%{top:1500px;}
    100%{top:-200px;}
}

@-webkit-keyframes dumb /* Safari and Chrome */
{
    0%{top:1500px;}
    100%{top:-200px;}
}

@-o-keyframes dumb /* Opera */
{
    0%{top:1500px;}
    100%{top:-200px;}
}

#test {
  color: red;
  text-align: center;
}

.title h2 {
 margin-top: 40px;
 text-shadow: black 1px 1px 2px;
}

#startMessage {
  float: left;
  width: 880px;
  margin-bottom: 25px;
}

#startMessage h2 {
  margin-top: 20px;
}

#startMessage h2:first-child {
  margin-top: 0px;
}

#startMessage p {
  padding-top: 0px;
  line-height: 1.3;
  color: white;
}
#startMessage a{
	color: #f85898;
}

#btnStart{
	width: 233px;
	height: 63px;
	margin: 0 auto;
	display: block;
	background: url("/2015voting/btnStart.gif") top center no-repeat;
}
#btnStart:hover{
	background-position: bottom center;
}

/**************/

@media screen and (max-width: 1090px){
	#dontforget{
		display: none;
	}
}

@media only screen and (max-device-width: 1080px) {
	.award {
		float: none;
		width: 600px;
		font-size: 1em;
	}
}
