/** Inner elements */
.nominee {
  position: relative;
  border: 1px solid #fec544;
  /*width: 350px;*/
  /*height: 140px;*/
  transition: 0.3s linear all;
  background-position: center;
}

.flavorText {
  display: none;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  padding: 3px;
  width: calc(100% - 0px);
  height: auto;
  font-size: 0.81em;
  line-height: 13px;
  color: white;
  z-index: 40;
  user-select: all;
}

.aNominee .flavorText {
  padding: 5px;
}

@media (max-width: 768px) {
  .flavorText {
    width: calc(100% - 25px);
  }
}

.nominee:hover .flavorText, .voteBox:hover .flavorText {
  display: block;
}

.nominee img.locked {
  display: none;
}

.nominee.locked img.locked {
  display: block;
}

.nomineeInfo {
	position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 39px;
    background: #00000085;
    z-index: 300;
}

.nomineeName {
	color: #fec544;
    font-family: "Trajan Pro 3", serif;
    text-transform: uppercase;
    font-size: 11px;
    line-height: 15px;
    display: inline-block;
    padding: 2px 7px;
    position: absolute;
    top: 3px;
    left: 0px;
	text-shadow: #000000 2px 2px 2px;
}
.nomineeSubtitle {
    font-family: Arial,sans-serif;
    display: inline-block;
    color: white;
    font-size: 10px;
    line-height: 10px;
    padding: 1px 7px;
    position: absolute;
    top: 19px;
    left: 0px;
    z-index: 300;
}

.nomineeSubtitle a {
  color: blue;
}

.nomineeSubtitle a:hover {
  color: blue;
  text-decoration: underline;
}

/** Other */
.flexContainer .voteBox {
  transition: 0.3s linear all;
  width: 100%;
}

.fakeElement {
  height: 0;
  padding-top: calc(1 / 2.5 * 100%);
}

.voteGroup {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
  justify-content: center;
  width: calc(25% - 10px);
  position: relative;
  user-select: none;
}

.voteGroup label {
  margin-bottom: auto;
  font-weight: inherit;
}
