/** Inner elements */
.nominee {
  position: relative;
  border: 1px solid #f29823;
  /*width: 350px;*/
  /*height: 140px;*/
  transition: 0.3s linear all;
  background-position: center;
}

.flavorText {
  display: none;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  padding: 3px;
  width: calc(100% - 0px);
  height: auto;
  font-size: 0.81em;
  line-height: 13px;
  color: white;
  z-index: 40;
  user-select: all;
}

.aNominee .flavorText {
  padding: 5px;
}

@media (max-width: 768px) {
  .flavorText {
    width: calc(100% - 25px);
  }
}

.nominee:hover .flavorText, .voteBox:hover .flavorText {
  display: block;
}

.nominee img.locked {
  display: none;
}

.nominee.locked img.locked {
  display: block;
}

.nomineeInfo {
	position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 30px;
    background: none;
    z-index: 300;
}

.nomineeName {
	color: #fec544;
  font-family: "OratorStd", "Courier New", serif;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 100%;
  display: inline-block;
  padding: 4px 5px 11px 25px;
  position: absolute;
  bottom: -1px;
  right: -1px;
  text-shadow: #f29823 0px 0px 3px;
  text-align: right;
  background: url("/2019images/nom_namebg.png") repeat-x bottom left, black;
  border: 1px solid #f29823;
}
.nomineeSubtitle {
    color: #f29823;
    font-family: Arial, sans-serif;
    font-size: 11px;
    line-height: 10px;
    display: inline-block;
    padding: 1px 7px;
    position: absolute;
    bottom: -1px;
	right: -1px;
	z-index: 300;
	text-align: right;
	background:	#000;
	border: 1px solid #f29823;
}

.nomineeSubtitle a {
  color: #93a7f5;
  text-decoration: underline;
}

.nomineeSubtitle a:hover {
  color: #fec544;
  text-decoration: underline;
}

/** Other */
.flexContainer .voteBox {
  transition: 0.3s linear all;
  width: 100%;
}

.fakeElement {
  height: 0;
  background: url("/2019images/nom_corner.png") no-repeat bottom left;
  padding-top: calc(1 / 2.5 * 100%);
}

.voteGroup {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
  justify-content: center;
  width: calc(25% - 10px);
  position: relative;
  user-select: none;
}

.voteGroup label {
  margin-bottom: auto;
  font-weight: inherit;
}
