* {
  margin: 0;
  padding: 0;
}

a, a:hover {
  text-decoration: none;
}

article, aside, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

/*::selection {
  opacity: 0;
  background: rgba(0,0,0,0);
}   

::-moz-selection {
  opacity: 0;
  background: rgba(0,0,0,0);
}   

::-webkit-selection {
  opacity: 0;
  background: rgba(0,0,0,0);
}*/

*, :before, :after {
  box-sizing: border-box;
}

body {
  background-image: none;
  background-color: rgb(249, 234, 193);
  font-size: 16px;
  line-height: 16px;
}

img {
  max-width: none;
}

#wrapper {
  width: 960px;
  margin: 0 auto;
}

/* Award Header */

@font-face {
  font-family: "ArtBrush";
  src: local("ArtBrush"), local("ArtBrush Regular"), url("/public/Artbrush.ttf");
}

@font-face {
  font-family: "Brush Script MT";
  src: local("Brush Script MT");
}

.awardHeader {
  text-align: center;
  position: relative;
  margin-bottom: 20px;
}

.awardHeaderContainer {
  margin: 0 50px;
}

.awardName {
  font-family: "ArtBrush";
  font-size: 4em;
  line-height: 100%;
  color: rgb(85, 168, 24);
}

.awardSubtitle {
  font-family: "Brush Script MT";
  font-size: 2.5em;
  line-height: 100%;
}

.awardHeader hr {
  border-color: rgb(85, 168, 24);
  border-width: 3px;
  width: 200px;
  margin: 4px auto 15px auto;
}

.navigation {
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  background-color: rgb(50, 60, 49);
  color: white;
  font-size: 40px;
  font-weight: bold;
  position: absolute;
  top: 35px;
  cursor: pointer;
  display: block;
}

.navigation:hover {
  color: rgb(85, 168, 24);
}

.navigation.left {
  left: 0;
}

.navigation.right {
  right: 0;
}

/* Column layout */

#limitsDrag {
  float: left;
  overflow: hidden;
}

.column {
  position: relative;
  float: left;
}

#nomineeColumn {
  width: 470px;
}

#spacerColumn {
  width: 20px;
}

#voteColumn {
  width: 470px;
}

/* Nominee Box */

.aNominee {
  position: relative;
  background: white;
  width: 100%;
  height: 124px;
  float: left;
  clear: both;
  margin-bottom: 4px;
}

.nomineeImage {
  max-height: 100%;
  max-width: 100%;
}

.aNominee .fakeBorder {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 41;
}

/* Nominee Box - Info Panel */

.nomineeInfo {
  position: absolute;
  bottom: 0;
  left: 0;
  /*height: 44px;*/
  width: 100%;
  background: -moz-linear-gradient(left, rgba(249,234,193,1) 0%, rgba(249,234,193,0) 100%);
  background: -webkit-linear-gradient(left, rgba(249,234,193,1) 0%,rgba(249,234,193,0) 100%);
  background: -o-linear-gradient(left, rgba(249,234,193,1) 0%,rgba(249,234,193,0) 100%);
  background: linear-gradient(to right, rgba(249,234,193,1) 0%,rgba(249,234,193,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9eac1', endColorstr='#00f9eac1',GradientType=1 );
  padding: 3px 3px 3px 8px;
}

.nomineeInfo .nomineeName {
  color: rgb(85, 168, 24);
  font-family: "ArtBrush";
  font-weight: bold;
  font-size: 1.3em;
  line-height: 1em;
}

.nomineeInfo .nomineeSubtitle {
  font-family: "Calibri",arial,sans-serif;
  color: black;
  font-size: 0.8em;
}

/* Vote Box */

.voteBox {
  clear:both;
  float:left;
  position: relative;
  width: 100%;
  height: 124px;
  background: rgb(248, 234, 195) url("/public/votebox_background.png");
  margin-bottom: 4px;
}

/**************/

p {
  padding: 10px;
}

h1, h2 {
  margin:0;
  padding:0;
}

#containerCategories h2, #limitsDrag h2 {
  height: 52px;
}

#containerCategories {
  clear: both;
  float: left;
  width: 269px;
  background: #1f1f1f;
  margin-right: 10px;
}
    
.category {
  display:block;
  position:relative;
  padding:5px;
  border: 1px solid #789922;
  border-top: none;
}

.category:hover {
  background: #4d5c21;
}

.category h3 {
  color: #789922;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Century Gothic", arial, sans-serif;
  font-weight: bold;
  font-size: 0.95em;
  line-height: 0.95em;
  padding: 0;
  margin: 0;
}

.category p {
  text-decoration: none;
  color: #cacaca;
  font-family: "Lucida Sans Unicode",arial,sans-serif;
  font-size: 0.8em;
  padding: 0;
  margin: 0;
}

.active {
  background: url("/public/some-pics/memearrow.png") 255px center no-repeat, url("/public/some-pics/bgCategory.jpg") left top repeat-y;
}
.active:hover {
  background: #4d5c21 url("/public/some-pics/memearrow.png") 255px center no-repeat;
}

.complete:before {
  content: "";
  display: block;
  position: absolute;
  top: -1px;
  left: -11px;
  width: 9px;
  height: 100%;
  border: 1px solid #789922;
  background: url("/public/some-pics/complete.png") 1px center no-repeat, url("/public/some-pics/bgComplete.gif") left top repeat-y;
}

#howToVote {
  cursor: pointer;
  position: absolute;
  top: 23px;
  right: 11px;
  color: #1f1f1f;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Century Gothic",arial,sans-serif;
  font-weight: bold;
  font-size: 1em;
  line-height: 1em;
  padding: 0;
  margin: 0;
}

#howToVote:hover {
  text-decoration: underline;
}

.voteBoxUsed {
  background: green;
}

.number {
  display: none;
  position: absolute;
  top: 5px;
  right: 25px;
  
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "ArtBrush";
  font-weight: bold;
  font-size: 2em;
  line-height: 1em;
}

.voteBox .number {
  display: block;
}

.btnSubmit {
  cursor: pointer;
  margin-top: 10px;
  float:left;
  height: 53px;
}
    
#btnLockVotes {
  clear: both;
  margin-left: 9px;
  width: 430px;
  background-image: url("/public/some-pics/btnSubmit.gif");
  background-position: 0px 0px;
}

#btnResetVotes {
  margin-left: 9px;
  width: 215px;
  background-image: url("/public/some-pics/btnSubmit.gif");
  background-position: 0px -159px;
}

#btnCancelVotes {
  width: 215px;
  background-image: url("/public/some-pics/btnSubmit.gif");
  background-position: 215px -159px;
}

#btnLockVotes:hover {
  background-position: 0px -53px
}

#btnResetVotes:hover {
  background-position: 0px -212px;
}

#btnCancelVotes:hover {
  background-position: 215px -212px;
}

.iVoted {
  background-position: 0px -106px !important;
  cursor: default;
}

#overlay {
  cursor: pointer;
  width: 650px;
  height: 471px;
  -moz-box-shadow:    0px 0px 60px 0px rgba(0,0,0,0.4);
  -webkit-box-shadow: 0px 0px 60px 0px rgba(0,0,0,0.4);
  box-shadow:         0px 0px 60px 0px rgba(0,0,0,0.4);
}

.shit {
  position:absolute;
  z-index:999;
  left:-100px;
  top:82px;
  display:none;
  animation: dumb 8s infinite linear;
  -moz-animation: dumb 8s infinite linear; /* Firefox */
  -webkit-animation: dumb 8s infinite linear; /* Safari and Chrome */
  -o-animation: dumb 8s infinite linear; /* Opera */
}
    
@keyframes dumb
{
from {left:-10%;}
to {left:110%;}
}

@-moz-keyframes dumb /* Firefox */
{
from {left:-10%;}
to {left:110%;}
}

@-webkit-keyframes dumb /* Safari and Chrome */
{
from {left:-10%;}
to {left:110%;}
}

@-o-keyframes dumb /* Opera */
{
from {left:-10%;}
to {left:110%;}
}

#test {
  color: red;
  text-align: center;
}

.title h2 {
 margin-top: 40px;
 text-shadow: black 1px 1px 2px;
}

#startMessage {
  float: left;
  width: 880px;
}

#startMessage h2 {
  margin-top: 20px;
}

#startMessage h2:first-child {
  margin-top: 0px;
}

#startMessage p {
  padding-top: 0px;
  line-height: 1.3;
}