* {
  margin: 0;
  padding: 0;
}

a, a:hover {
  text-decoration: none;
}

article, aside, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

/*::selection {
  opacity: 0;
  background: rgba(0,0,0,0);
}   

::-moz-selection {
  opacity: 0;
  background: rgba(0,0,0,0);
}   

::-webkit-selection {
  opacity: 0;
  background: rgba(0,0,0,0);
}*/

*, :before, :after {
  box-sizing: border-box;
}

html {
	background-image: url("50s/bgvoting.jpg"); 
	background-color: #f6e7be;
}

body {
  background: none;
  font-size: 16px;
  line-height: 16px;
  padding-top: 10px;
}

img {
  max-width: none;
}


header{
	width: 960px;
	height: 144px;
	margin: 0 auto 30px;
	background: url("/public/50s/featuring_dante_from_the_devil_may_cry_series.png") bottom center no-repeat;
}

header h1{
	float: right;
	width: 680px;
	font-family: "Brush Script MT";
	font-size: 2.5em;
	line-height: 100%;
	text-align:center;
	margin-top: 28px;
}

header h2{
	float: right;
	width: 680px;
	font-family: Calibri, sans-serif;
	font-size: 1.5em;
	line-height: 100%;
	text-align:center;
}

#thelogo{
	float: left;
}

#wrapper {
  width: 988px;
  height: 112px;
  margin: 0 auto;
  position: relative;
}

/* Award Header */

@font-face {
  font-family: "ArtBrush";
  src: local("ArtBrush"), local("ArtBrush Regular"), url("/public/Artbrush.ttf");
}

@font-face {
  font-family: "Brush Script MT";
  src: local("Brush Script MT"), local("Brush Script MT"), url("/public/BrushScriptMT.ttf");
}

.awardHeader {
  text-align: center;
  position: relative;
  margin-bottom: 20px;
}

.awardHeaderContainer {
  margin: 0 50px;
}
.awardName {
  font-family: "ArtBrush";
  font-size: 4em;
  line-height: 100%;
  color: #509e20;
}

.awardHeader .hr {
	margin: 0 auto;
	height: 8px;
	background: url("/public/50s/underline.png") center center no-repeat;
}

.navigation {
	width: 50px;
	height: 50px;
	position: absolute;
	top: 35px;
	cursor: pointer;
	display: block;
}

.navigation.left {
	left: 0;
	background: url("/public/50s/btnNav.png") 0px 0px;
}
.left:hover {
	background-position: 0px 50px;
}

.navigation.right {
	right: 0;
	background: url("/public/50s/btnNav.png") 50px 0px;
}
.right:hover {
	background-position: 50px 50px;
}

#dontforget{
	position: absolute;
	top: 236px;
	right: -62px;
}


/* Column layout */

#limitsDrag {
  padding-left: 14px;
  float: left;
  overflow: hidden;
}

.column {
  position: relative;
  float: left;
}

#nomineeColumn {
  width: 473px;
}

#nomineeColumn .voteBox:before {
content: "";
display: block;
position: absolute;
top: 17px;
left: -8px;
width: 8px;
height: 100%;
background: url("/public/50s/kill_la_kill.png") 0px center no-repeat;
}

#spacerColumn {
  width: 14px;
}

#voteColumn {
  width: 473px;
}

#voteColumn > img {
  margin-left: 206px;
}

/* Nominee Box */

.aNominee {
  position: relative;
  background: white;
  width: 100%;
  height: 124px;
  float: left;
  clear: both;
  margin-bottom: 4px;
}

.nomineeImage {
  width: 473px;
  height: 126px;
}

.info{
	width: 25px;
	height: 25px;
	position: absolute;
	top: 5px;
	left: 5px;
	z-index: 55;
	background: url("/public/50s/info.png") center top no-repeat;
}
.info:hover{
	background-position: center bottom;
}

.aNominee .fakeBorder {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 41;
}

.aNominee img.locked {
  display: none;
}

.aNominee.locked img.locked {
  display: block;
}

#nomineeColumn .number {
  display: none;
}

/* Nominee Box - Info Panel */

.nomineeInfo {
  position: absolute;
  bottom: 0;
  left: 0;
  /*height: 44px;*/
  width: 100%;
  background: url("/public/50s/gradient.png");
  padding: 3px 3px 2px 5px;
  margin: 0 0 1px 3px;
  z-index: 99;
}

.nomineeInfo .nomineeName {
  color: #509e20;
  font-family: "ArtBrush";
  font-weight: bold;
  font-size: 1.3em;
  line-height: 1em;
}

.nomineeInfo .nomineeSubtitle {
  font-family: "Calibri",arial,sans-serif;
  color: black;
  font-size: 0.8em;
}

/* Vote Box */

.voteBox {
  clear:both;
  float:left;
  position: relative;
  width: 100%;
  height: 126px;
  background: rgba(246, 231, 190, 0.5) url("/public/50s/votebox_background.png");
  margin-bottom: 4px;
}

/*.voteBox.locked {
  background: none;
}*/

.voteBox.dragging {
  /*background-image: url("/public/votebox_background_drag.png");*/
}

.number {
  position: absolute;
  top: 7px;
  right: 19px;
  
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "ArtBrush";
  font-weight: bold;
  font-size: 2em;
  line-height: 1em;
}

/**************/

p {
  padding: 10px;
}

h1, h2 {
  margin:0;
  padding:0;
  color: black;
}

h2 {
	font-family: "Brush Script MT";
	font-size: 2.5em;
	line-height: 100%;
}

#containerCategories {
	clear: both;
	width: 988px;
	margin: 0 auto;
	padding-top: 14px;
	padding-bottom: 30px;
	overflow: auto;
	background: url("/public/50s/shadow_the_edge.png") center 14px no-repeat;
}

#containerCategories h2, #limitsDrag h2 {
  height: 52px;
}
    
.category {
	display: block;
	position: relative;
	padding: 5px;
	border-top: none;
	width: 463px;
	float: left;
	margin-left: 14px;
}

.category:hover {
  background: rgba(0,0,0,0.1);
}

.category h3 {
	color: black;
	text-decoration: none;
	font-family: Calibri, sans-serif;
	font-weight: bold;
	font-size: 1em;
	line-height: 0.95em;
	padding: 0;
	margin: 0 5px 0 17px;
	display: inline;
}

.category p {
	text-decoration: none;
	color: black;
	font-family: Calibri,sans-serif;
	font-size: 0.9em;
	padding: 0;
	margin: 0;
	display: inline;
}

.active {
  background: rgba(0,0,0,0.1);
}
.active:hover {
  background: rgba(0,0,0,0.2);
}

.complete:before {
	content: "";
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 28px;
	height: 100%;
	background: url("/public/50s/complete.png") 0px center no-repeat;
}

#howToVote {
  cursor: pointer;
  position: absolute;
  top: 23px;
  right: 11px;
  color: #1f1f1f;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Century Gothic",arial,sans-serif;
  font-weight: bold;
  font-size: 1em;
  line-height: 1em;
  padding: 0;
  margin: 0;
}

#howToVote:hover {
  text-decoration: underline;
}

.voteBoxUsed {
  background: green;
}

.btnSubmit {
  cursor: pointer;
  margin-top: 10px;
  float:left;
  height: 49px;
  position: relative;
}
    
#btnLockVotes {
  margin-left: 14px;
  width: 196px;
  background-image: url("/public/50s/btnSubmit.png");
  background-position: 0px 0px;
}

#btnResetVotes {
  width: 196px;
  background-image: url("/public/50s/btnSubmit.png");
  background-position: 0px -147px;
}

#btnLockVotes:hover {
  background-position: 0px -49px;
}

#btnResetVotes:hover {
  background-position: 0px -196px;
}

#arrow_left {
	float: left;
	margin-left: 216px;
	margin-top: 10px;
}

#arrow_right {
	float: left;
	margin-top: 10px;
}


.iVoted {
  background-position: 0px -98px !important;
  cursor: default;
}

#overlay {
  cursor: pointer;
  width: 650px;
  height: 471px;
  -moz-box-shadow:    0px 0px 60px 0px rgba(0,0,0,0.4);
  -webkit-box-shadow: 0px 0px 60px 0px rgba(0,0,0,0.4);
  box-shadow:         0px 0px 60px 0px rgba(0,0,0,0.4);
}

.shit {
  position:absolute;
  z-index:999;
  left:-100px;
  top:82px;
  display:none;
  animation: dumb 8s infinite linear;
  -moz-animation: dumb 8s infinite linear; /* Firefox */
  -webkit-animation: dumb 8s infinite linear; /* Safari and Chrome */
  -o-animation: dumb 8s infinite linear; /* Opera */
}
    
@keyframes dumb
{
from {left:-10%;}
to {left:110%;}
}

@-moz-keyframes dumb /* Firefox */
{
from {left:-10%;}
to {left:110%;}
}

@-webkit-keyframes dumb /* Safari and Chrome */
{
from {left:-10%;}
to {left:110%;}
}

@-o-keyframes dumb /* Opera */
{
from {left:-10%;}
to {left:110%;}
}

#test {
  color: red;
  text-align: center;
}

.title h2 {
 margin-top: 40px;
 text-shadow: black 1px 1px 2px;
}

#startMessage {
  float: left;
  width: 880px;
}

#startMessage h2 {
  margin-top: 20px;
}

#startMessage h2:first-child {
  margin-top: 0px;
}

#startMessage p {
  padding-top: 0px;
  line-height: 1.3;
}