* {
  margin: 0;
  padding: 0;
}

a, a:hover {
  text-decoration: none;
}
a img { border:none;}
img {display:block;}

article, aside, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

/*::selection {
  opacity: 0;
  background: rgba(0,0,0,0);
}   

::-moz-selection {
  opacity: 0;
  background: rgba(0,0,0,0);
}   

::-webkit-selection {
  opacity: 0;
  background: rgba(0,0,0,0);
}*/

*, :before, :after {
  box-sizing: border-box;
}

html {
	background-image: url("2014voting/bg_tile.png"); 
	background-color: #212121;
}

body {
  background: none;
  font-size: 16px;
  line-height: 16px;
  padding-top: 10px;
}

img {
  max-width: none;
}


header{
	width: 960px;
	height: 144px;
	margin: 0 auto 30px;
	background: url("/public/2014voting/shadow_top.png") bottom center no-repeat;
}


p {
  padding: 10px;
}

h1, h2 {
  margin:0;
  padding:0;
  color: #f2ff1a;
}

h1{
	font-family: "Bebas Neue", Tahoma, sans-serif;
	text-transform: uppercase;
	font-size: 4em;
	line-height: 100%;
}
h2 {
	font-family: Calibri, sans-serif;
	font-size: 1.5em;
	line-height: 100%;
	color: #bfbfbf;
}

header h1{
	float: right;
	width: 550px;
	font-size: 2.5em;
	text-align:center;
	margin-top: 28px;
	font-weight: normal;
}
header h2{
	float: right;
	width: 550px;
	text-align: center;
}

#thelogo{
	float: left;
	margin-top: 18px;
}

#wrapper {
  width: 988px;
  height: 112px;
  margin: 0 auto;
  position: relative;
}

/* Award Header */

@font-face {
  font-family: "Bebas Neue";
  src: url('/public/fonts/BebasNeue.eot');
  src: url('/public/fonts/BebasNeue.eot?#iefix') format('embedded-opentype'),
       url("/public/fonts/BebasNeue.woff") format("woff"),
       url("/public/fonts/BebasNeue.ttf") format("truetype");
       url("/public/fonts/BebasNeue.svg#svgBebasNeue") format("svg"),
}

.awardHeader {
  text-align: center;
  position: relative;
  margin-bottom: 45px;
}

.awardHeaderContainer {
  margin: 0 50px;
}
.awardName {
  font-family: "Bebas Neue", Tahoma, sans-serif;
  text-transform: uppercase;
  font-size: 4em;
  line-height: 44px;
  color: #f2ff1a;
}
.awardSubtitle {
	color: #bfbfbf;
	width: 888px;
}


.navigation {
	width: 50px;
	height: 50px;
	position: absolute;
	top: 0px;
	cursor: pointer;
	display: block;
}

.navigation.left {
	left: 0;
	background: url("/public/2014voting/btnNav.png") 0px 0px;
}
.left:hover {
	background-position: 0px 50px;
}

.navigation.right {
	right: 0;
	background: url("/public/2014voting/btnNav.png") 50px 0px;
}

footer .navigation {
  top: 8px;
  display: none;
}

.right:hover {
	background-position: 50px 50px;
}

#dontforget{
	position: absolute;
	top: 218px;
	right: -62px;
}


/* Column layout */

#limitsDrag {
  padding-left: 14px;
  float: left;
  overflow: hidden;
}

.column {
  position: relative;
  float: left;
}

#nomineeColumn {
  width: 473px;
}

#spacerColumn {
  width: 14px;
}

#voteColumn {
  width: 473px;
}

#voteColumn > img {
  margin-left: 206px;
}

/* Nominee Box */

.aNominee {
  position: relative;
  background: white;
}

.nomineeImage {
  width: 473px;
  height: 126px;
}

.info{
	width: 27px;
	height: 26px;
	position: absolute;
	top: 5px;
	left: 5px;
	z-index: 55;
	background: url("/public/2014voting/info.png") center top no-repeat;
	cursor: help;
}
.info:hover{
	background-position: center bottom;
}
.innerInfo {
	display: none;
	background-color: rgba(0,0,0,0.6);
	position: relative;
	top: 0px;
	left: 30px;
	padding: 3px;
	width: 433px;
	height: auto;
	font-family: Calibri,sans-serif;
	font-size: 0.81em;
	line-height: 13px;
	color: white;
}
.info:hover .innerInfo {
	display: block;
}

.aNominee .fakeBorder {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 41;
}

.aNominee img.locked {
  display: none;
}

.aNominee.locked img.locked {
  display: block;
}

#nomineeColumn .number {
  display: none;
}

/* Nominee Box - Info Panel */

.nomineeInfo {
  position: absolute;
  bottom: 1px;
  left: 1px;
  width: 471px;
  background: url("/public/2014voting/blackbar.png");
  z-index: 99;
}

.nomineeInfo .nomineeName {
	color: #f2ff1a;
	font-family: "Bebas Neue", Tahoma, sans-serif;
	text-transform: uppercase;
	font-size: 1.5em;
	padding: 7px 0 0 5px;
}

.nomineeInfo .nomineeSubtitle {
  font-family: "Calibri",arial,sans-serif;
  color: white;
  font-size: 0.85em;
  padding: 0 0 0 4px;
}

.nomineeSubtitle a{
	color: white;
}
.nomineeSubtitle a:hover{
	color: white;
	text-decoration: underline;
}

/* Vote Box */

.voteBox {
  clear:both;
  float:left;
  position: relative;
  width: 100%;
  height: 126px;
  background: rgba(246, 231, 190, 0.5) url("/public/2014voting/votebox_background.png");
  margin-bottom: 4px;
}

/*.voteBox.locked {
  background: none;
}*/

.voteBox.dragging {
  /*background-image: url("/public/votebox_background_drag.png");*/
}

.number {
  position: absolute;
	top: 7px;
	right: 7px;
	color: #f2ff1a;
	text-decoration: none;
	text-transform: uppercase;
	font-family: "Bebas Neue", Tahoma, sans-serif;
	text-transform: uppercase;
	font-size: 2em;
	line-height: 1em;
}

/**************/


#containerCategories {
	clear: both;
	width: 988px;
	margin: 0 auto;
	padding-top: 14px;
	padding-bottom: 30px;
	overflow: auto;
	background: url("/public/2014voting/shadow_bot.png") center 14px no-repeat;
}

#containerCategories h2, #limitsDrag h2 {
  height: 52px;
}
    
.category {
	display: block;
	position: relative;
	padding: 5px;
	border-top: none;
	width: 463px;
	float: left;
	margin-left: 14px;
}

.category:hover {
  background: rgba(0,0,0,0.20);
}

.category h3 {
	color: #b2b2b2;
	text-decoration: none;
	font-family: Calibri, sans-serif;
	font-weight: bold;
	font-size: 1em;
	line-height: 0.95em;
	padding: 0;
	margin: 0 5px 0 17px;
	display: inline;
}

.category p {
	text-decoration: none;
	color: #b2b2b2;
	font-family: Calibri,sans-serif;
	font-size: 0.9em;
	padding: 0;
	margin: 0;
	display: inline;
}

.active {
  background: rgba(0,0,0,0.25);
}
.active:hover {
  background: rgba(0,0,0,0.3);
}

.complete:before {
	content: "";
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 28px;
	height: 100%;
	background: url("/public/2014voting/complete.png") 0px center no-repeat;
}

.voteBoxUsed {
  background: green;
}

.btnSubmit {
  cursor: pointer;
  margin-top: 10px;
  float:left;
  height: 49px;
  position: relative;
}
    
#btnLockVotes {
  margin-left: 14px;
  width: 271px;
  background-image: url("/public/2014voting/btnSubmit.png");
  background-position: 0px 0px;
}

#btnResetVotes {
  width: 271px;
  background-image: url("/public/2014voting/btnSubmit.png");
  background-position: 0px -147px;
  margin-left: 216px;
}

#btnLockVotes:hover {
  background-position: 0px -49px;
}

#btnResetVotes:hover {
  background-position: 0px -196px;
}

#arrow_left {
	float: left;
	margin-left: 216px;
	margin-top: 10px;
}

#arrow_right {
	float: left;
	margin-top: 10px;
}

#topCategories {
	padding-top: 20px;
}


.iVoted {
  background-position: 0px -98px !important;
  cursor: default;
}

#overlay {
  cursor: pointer;
  width: 650px;
  height: 471px;
  -moz-box-shadow:    0px 0px 60px 0px rgba(0,0,0,0.4);
  -webkit-box-shadow: 0px 0px 60px 0px rgba(0,0,0,0.4);
  box-shadow:         0px 0px 60px 0px rgba(0,0,0,0.4);
}

.shit {
  position:absolute;
  z-index:999;
  left:-100px;
  top:82px;
  display:none;
  animation: dumb 8s infinite linear;
  -moz-animation: dumb 8s infinite linear; /* Firefox */
  -webkit-animation: dumb 8s infinite linear; /* Safari and Chrome */
  -o-animation: dumb 8s infinite linear; /* Opera */
}
    
@keyframes dumb
{
from {left:-10%;}
to {left:110%;}
}

@-moz-keyframes dumb /* Firefox */
{
from {left:-10%;}
to {left:110%;}
}

@-webkit-keyframes dumb /* Safari and Chrome */
{
from {left:-10%;}
to {left:110%;}
}

@-o-keyframes dumb /* Opera */
{
from {left:-10%;}
to {left:110%;}
}

#test {
  color: red;
  text-align: center;
}

.title h2 {
 margin-top: 40px;
 text-shadow: black 1px 1px 2px;
}

#startMessage {
  float: left;
  width: 880px;
}

#startMessage h2 {
  margin-top: 20px;
}

#startMessage h2:first-child {
  margin-top: 0px;
}

#startMessage p {
  padding-top: 0px;
  line-height: 1.3;
  color: white;
}
#startMessage a{
	color: #f2ff1a;
}

#btnStart{
	width: 196px;
	height: 84px;
	margin: 0 auto;
	display: block;
	background: url("/public/2014voting/btnStart.png") top center no-repeat;
}
#btnStart:hover{
	background-position: bottom center;
}