/* Assorted page elements */
.meme {
  width: 160px;
  height: 600px;
  border: 1px dashed black;
    margin-top: 5px;
  /*position: absolute;*/
  /*top: 250px;*/
}

.leftMeme {
    margin-left: 10px;
}

.rightMeme {
    margin-right: 10px;
}

/*@media (max-width: 1840px) {*/
    /*.rightMeme {*/
        /*display: none;*/
    /*}*/
    /*#wrapper {*/
        /*margin-right: 10px !important;*/
    /*}*/
/*}*/
/**/
/*@media (max-width: 1680px) {*/
    /*.leftMeme {*/
        /*display: none;*/
    /*}*/
    /*#wrapper {*/
        /*margin-right: auto !important;*/
    /*}*/
/*}*/

#dontforget {
  position: absolute;
  top: 218px;
  right: -40px;
}

.zig {
  margin: 20px 0;
}

/* Page Header */
.pageHeader {
  height: 80px;
  margin: 0 auto;
  text-align: center;
}

.pageHeader h1 {
  font-size: 30px;
  margin-top: 25px;
}

.pageHeader h2 {
  font-size: 20px;
}

.pageHeader .logo {
  float: left;
  margin-top: 18px;
}

/* Award Header (including left/right navigation buttons) */
.awardHeader {
  text-align: center;
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
}

.awardHeaderContainer {
  margin: 0 50px 20px 50px;
  padding: 20px;
  background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(0,0,0,0.3) 10%,rgba(0,0,0,0.3) 90%,rgba(0,0,0,0) 100%);
}

.awardName {
  font-family: Arial, sans-serif;
  font-weight: normal;
  font-style: italic;
  text-transform: uppercase;
  font-size: 36px;
  line-height: 40px;
  color: yellow;
  text-shadow: black 2px 2px;
}

.awardSubtitle {
  font-family: Arial, sans-serif;
  color: white;
  font-size: 25px;
  text-shadow: black 2px 2px;
}

.navigation {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 36px;
  cursor: pointer;
  display: block;
}

.navigation.left {
  left: 0;
  background: url("/2016images/btnNav_left.png") 0 0;
}

.left:hover {
  background-position: 0 bottom;
}

.navigation.right {
  right: 0;
  background: url("/2016images/btnNav_right.png") 0 0;
}

.right:hover {
  background-position: 0 bottom;
}

/* Nominee Box - inner elements */
/* See votingNominees.css */

/* Shown on mobile, hidden on desktop */
.realHandle {
  display: none;
}

/* Shown on desktop, hidden on mobile */
.fakeHandle {
  width: 100%;
  height: 100%;
  z-index: 50;
  position: absolute;
  top: 0;
}

/* Nominee Box - outer elements that encompass the nominee box */
.voteBox {
  transition: 0.3s linear all;
  width: 100%;
}

.fakeElement {
    height: 0;
    padding-top: calc(1 / 2.5 * 100%);
}

.voteGroup {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
  justify-content: center;
  width: calc(25% - 10px);
  position: relative;
}

.voteGroup label {
  margin-bottom: auto;
  font-weight: inherit;
}

#voteDropAreaBottom .voteGroup {
  margin-top: 20px;
}

/* Nominee Box - extra elements that are tied to the nominee box, but are near it instead of inside it */
.preferenceButton {
  width: 116px;
  height: 116px;
  background: #262f5c;
  color: yellow;
  border: 4px white inset;
  text-align: center;
  font-size: 60px;
  margin-right: 15px;
  font-family: Arial, sans-serif;
}

.preferenceInput {
  width: 116px;
  height: 116px;
  background: #262f5c;
  color: yellow;
  border: 4px white inset;
  text-align: center;
  font-size: 60px;
  line-height: 116px;
  padding-left: 16px;
  margin-right: 15px;
  font-family: Arial, sans-serif;
  transition: background-color 0.2s, color 0.2s;
}

.preferenceInput:invalid, .preferenceInput.invalid {
  border-color: red;
  color: red;
  background-color: #5c2626;
}

.preferenceInput.static {
  background: url('https://vignette.wikia.nocookie.net/memory-gamma/images/1/17/Static.gif') center #37255c;
}

.number {
  background: rgb(251,68,7);
  color: white;
  font-family: Arial,sans-serif;
  width: 100%;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-weight: bold;
  font-size: 12px;
  position: absolute;
  top: -20px;
}

.sortable-ghost .number, .sortable-chosen .number, .sortable-drag .number, .locked .number {
  background: black;
}

.locked .number:after {
  content: ' - SAVED';
}

.placeholder .nominee {
  border: 2px dashed rgba(255, 255, 255, 0.8);
}

/* Preference number popup */
.numberPopup {
  border: 4px inset white;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.5) 4px 4px;
  position: absolute;
  z-index: 300;
  max-width: 100%;
}

.numberPopup.height2 {
  height: 220px;
}

.numberPopup.height3 {
  height: 320px;
}

.numberPopup.width2 {
  width: 240px;
}

.numberPopup.width3 {
  width: 340px;
}

.numberPopup.width4 {
  width: 440px;
}

.numberPopup.width5 {
  width: 540px;
}

.numberButtons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
  width: 100%;
  height: 100%;
}

.numberButton {
  width: 100px;
  height: 100px;
  background: rgb(251, 68, 7);
  color: white;
  border-radius: 100%;
  border: none;
  box-shadow: black 2px 2px;
  text-align: center;
  font-size: 40px;
  font-family: Arial, sans-serif;
}

.numberButton:hover, .numberButton:focus {
  background: rgb(221, 70, 7);
}

.numberButton:disabled {
  background: grey;
  color: silver;
  box-shadow: none;
  position: relative;
  top: 1px;
  left: 1px;
}

.numberButton:active {
  position: relative;
  top: 4px;
  box-shadow: black 2px -2px;
}

/* Top and bottom voting panes */
#wrapper {
  /*width: 100%;*/
  max-width: 1480px;
  position: relative;
    flex-grow: 1;
  /*margin: 0 auto 5px;*/
}

.memeContainer {
    display: flex;
    justify-content: center;
}

.flexContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.voteDropArea {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  padding: 5px;
  min-height: 185px;
  border: 2px dashed transparent;
  transition: 0.2s all;
}

#dragLimit.dragActive #voteDropAreaTop, #voteDropAreaTop:empty {
  border: 2px dashed white;
  background: rgba(255, 255, 255, 0.2);
}

#voteDropAreaBottom {
  /*border: 2px dashed white;*/
  background: rgba(255, 255, 255, 0.2);
  position: relative;
}

#voteDropAreaBottom.locked {
  border: 2px solid white;
}

#dragLimit.dragActive #voteDropAreaBottom {
  background: rgba(255, 255, 255, 0.5);
}

#voteDropAreaTop:empty:after {
  content: "You've ordered all the nominees! Nice work!";
  font-family: Arial, sans-serif;
  color: white;
  font-style: italic;
  font-size: 30px;
  text-shadow: black 2px 2px;
  position: absolute;
  z-index: -1;
  text-align: center;
  line-height: 30px;
}

#voteDropAreaBottom:empty:after {
  content: "Drag nominees here to vote for them!";
  font-family: Arial, sans-serif;
  color: white;
  font-style: italic;
  font-size: 30px;
  text-shadow: black 2px 2px;
  position: absolute;
  z-index: -1;
  text-align: center;
  line-height: 30px;
}

.voteDropArea.flash .nominee {
  opacity: 0;
}

.voteDropArea.flash .voteBox {
  background: white;
}

/* Reset and submit buttons */
.buttons {
  display: flex;
  justify-content: center;
  position: relative;
}

.buttons .navigation {
  top: 8px;
  display: none;
}

.btnSubmit {
  cursor: pointer;
  height: 49px;
  position: relative;
}

#btnResetVotes {
  width: 166px;
  height: 40px;
  background: url("/2016images/btn_reset.png") 0 0;
  margin-right: 50px;
}

#btnResetVotes:hover {
  background-position: 0 bottom;
}

#btnLockVotes {
  width: 175px;
  height: 40px;
  background: url("/2016images/btn_submit.png") 0 0;
}

#btnLockVotes:hover {
  background-position: 0 center;
}

.iVoted {
  background-position: 0 bottom !important;
  cursor: default;
}

/* Awards List */
#containerAwards {
  margin: 0 auto;
  overflow: auto;
  max-width: 1200px;
}

#secondaryAwards {
  font-size: 30px;
  padding-top: 20px;
}

.awardList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.award {
  position: relative;
  display: block;
  padding: 5px;
  border-top: none;
  margin-left: 14px;
  min-width: 300px;
  flex-basis: 45%;
  flex-grow: 1;
}

.award:hover {
  background: rgba(0, 0, 0, 0.20);
}

.award h1 {
  margin-bottom: 5px;
}

.award h3 {
  color: yellow;
  text-decoration: none;
  text-shadow: black 1px 1px;
  font-weight: bold;
  font-size: 1em;
  line-height: 0.95em;
  padding: 0;
  margin: 0 5px 0 17px;
  display: inline;
}

.award a, .award a:hover {
  text-decoration: none;
}

.award p {
  text-decoration: none;
  color: white;
  font-size: 0.9em;
  padding: 0;
  text-shadow: black 1px 1px;
  margin: 0;
  display: inline;
}

.active {
  background: rgba(0, 0, 0, 0.25);
}

.active:hover {
  background: rgba(0, 0, 0, 0.3);
}

.complete:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 26px;
  height: 100%;
  background: url("/2016images/check.png") 0 center no-repeat;
}

.goBackLink a {
  background-color: rgb(251, 68, 7);
  border-radius: 15px;
  color: white;
  padding: 5px 15px;
  font-size: 18px;
}

/* Easter egg */
.shit {
  position: absolute;
  z-index: 999;
  left: 0;
  top: -200px;
  display: none;
  color: white;
  font-size: 4em;
  width: 100%;
  text-align: center;
  line-height: 85px;
  animation: dumb 9s infinite linear;
}

@keyframes dumb {
  0% {
    top: 1500px;
  }
  100% {
    top: -200px;
  }
}

/* Instruction page (appears when no awards are selected) */
#startMessage {
  float: left;
  width: 880px;
  margin-bottom: 25px;
}

#startMessage h2 {
  margin-top: 20px;
}

#startMessage h2:first-child {
  margin-top: 0;
}

#startMessage p {
  padding-top: 0;
  line-height: 1.3;
  color: white;
}

#startMessage a {
  color: #f85898;
}

#btnStart {
  width: 233px;
  height: 63px;
  margin: 0 auto;
  display: block;
  background: url("/2015voting/btnStart.gif") top center no-repeat;
}

#btnStart:hover {
  background-position: bottom center;
}

@media (max-width: 1400px) {
    .rightMeme {
        display: none;
    }
}

@media (max-width: 1250px) {
    .leftMeme {
        display: none;
    }
}

@media (max-width: 1100px) {
    .voteGroup {
        width: calc(100% / 3 - 10px);
    }
}

/* Changes for mobile */
@media (max-width: 768px) {
    .fakeElement {
        display: none;
    }
  .nominee {
    width: 100%;
    height: 75px;
  }

  .voteDropArea {
    min-height: 100px;
  }

  .preferenceButton {
    margin-left: 5px;
    margin-right: 5px;
    width: 80px;
    height: 80px;
    line-height: 80px;
    border-width: 3px;
    padding-left: 0;
    font-size: 40px;
  }

  .voteBox {
    width: calc(100% - 5px);
  }

  .voteGroup {
    width: 100%;
    flex-basis: 100%;
    margin-bottom: 5px;
  }

  .voteGroup label {
    width: 100%;
  }

  .fakeHandle {
    display: none;
  }

  .realHandle {
    display: block;
    position: absolute;
    right: 0;
    height: 100%;
    background: rgb(251, 68, 7);
    padding: 25px 5px 5px 5px;
    text-align: center;
      width: 25px;
  }

  .flavorText {
      margin-right: 25px;
  }
}

@media screen and (max-width: 1090px) {
  #dontforget {
    display: none;
  }
}
