<p>
  If you’re seeing this, then all hope is not lost. The /v/GAs have been compromised and our information on the site, awards, nominees, gameplay, music, and trailers have been sabotaged.
</p>
<p>
  Our team has gone to name the individual responsible for the event has been dubbed “Maudz Jahnnie,” the disaster is pretty much over but we still need to pick up the pieces.
</p>
<p>
  The /v/GAs needs your help: In order to secure our assets and information that Maudz could not get their hands on, we’ve locked the door on ourselves and encrypted pretty much everything.
</p>
<p>
  Normally, we’d know how to decrypt our own passwords but Maudz played fowl and bricked our tools. So we’re asking for outside help, that’s you.
</p>
<p>
  Our field agents, Vee, Gee, and Ayy left some important intel lying around the website. We were only smart enough to take a crack at one to get us started but here’s where you come in.
</p>

<p>
  Vee, Gee, and Ayy hid passwords to the encryptions using videos and images from the spy games we had them marathon over the year. I’ve heard from our intel team that the nominee voting page has something to do with the images tied to the videos, but I haven't discovered how yet….
</p>

<p>
  Use the information available and the intel you can pull from the voting pages to find out what those passwords are.
</p>
