<h4>
  Want to get involved??
</h4>
<p>
  If you're interested in being involved with the production of the show
  in some way, fill out our
  <a href="https://docs.google.com/forms/d/11gK6SXAsDbECN_heYo82DNWzHZU9csqI_K7x3WlGV5I/viewform" target="_blank">Talent Recruitment Form</a>.
</p>
<p>
  If you'd like to be involved or just want to shitpost, you can
  also join our <a href="http://discord.gg/4e8JQB4" target="_blank">Discord channel</a>.
</p>
