<h5 class="card-header">Requirements</h5>
<div class="card-body">
  <p>
    These are the basic requirements: check the <a
        href="https://docs.google.com/document/d/15vKzWQ-xit0KG3577k8Ma2QYuaS1p8FafiYI4-fW5gc/edit?usp=sharing">requirements
      document</a> for the full details.
  </p>
  <ul>
    <li>Your video must be related to video games in some way.</li>
    <li>Skits must be no longer than 3 minutes.</li>
    <li>Bumpers must be no longer than 15 seconds.</li>
    <li>Original content only.</li>
  </ul>
</div>

<h5 class="card-header">Recommendations:</h5>
<div class="card-body">
  <ul>
    <li>1080p at 30-60fps unless it ruins the concept of the skit.</li>
    <li>Again, read the <a
          href="https://docs.google.com/document/d/15vKzWQ-xit0KG3577k8Ma2QYuaS1p8FafiYI4-fW5gc/edit?usp=sharing">doc</a>.
    </li>
  </ul>
</div>

<h5 class="card-header">Cash Prize:</h5>
<div class="card-body">
  <ul>
    <li>Bumpers are not eligible for the cash prize.</li>
    <li>The prize will be delivered to your paypal.me address. Don't have one? Make one, it comes with every
      PayPal account.
    </li>
    <li>If you don't wish to collect it, you can give the prize to a charity of your choice.<br>
      <small>
        <em>
          If you don't have a charity preference, the prize will go to the
          <a href="https://www.awla.org.au/">Australian Animal Welfare League</a>
          by default.
        </em>
      </small>
    </li>
  </ul>
</div>
