<h2>Last year's competition was a success, so we're bringing it back for 2022.</h2>
<p>
  We had an enormous number of submissions last year with <a href="https://www.youtube.com/watch?v=PRq_DUMVkbQ" target="_blank">No Man's Stranding</a>
  taking the cake as best skit. This year, we're bringing the competition back, and increasing the prize to $120 USD.
</p>
<p>
  You don't expect to much and you shouldn't either, but with 20 more dollars, who knows what we can expect?
</p>
<p>
  This year we are also accepting bumpers, but note that <strong>bumpers are not eligible for the cash prize</strong>.
</p>
<p>
  If you have something that you think is funny and deserves a spot on the /v/GAs, then go ahead and submit it!
  It doesn't have to be serious, just quality vidya content.
</p>
<p>
  If you're already rich and don't want the cash prize, you can choose to have it donated to a charity of your choice.
</p>

<h2 style="margin-top: 30px;">Guidelines</h2>
<p>
  They're too long to list here, but you can find all the requirements <a
      href="https://docs.google.com/document/d/15vKzWQ-xit0KG3577k8Ma2QYuaS1p8FafiYI4-fW5gc/edit?usp=sharing">here</a>.
  <br><b>you're gonna need to read them</b>
</p>

<h2 style="margin-top: 30px;">Submissions</h2>
<p>
  <a class="btn btn-themed btn-primary" href="https://goo.gl/forms/P1WVU8qXgWyjsntA2">Submit your skit or bumper here</a>
</p>
<p>
  <small>Submissions will close on Jan 28. Voting on skits will happen after the show and the winners will be announced
    two weeks after on our Discord server.</small>
</p>
