{% extends 'base/standardThemed.html.twig' %}

{% block title 'Credits' %}

{% block content %}
  <style type="text/css">
    p {
      font-family: "Corbel", Arial, sans-serif;
      font-size: 18px;
      line-height: 1.3em;
    }

    .awardHeaderContainer {
      height: auto;
      margin: 0 0 20px 0;
      padding: 25px 0 20px;
      background-image: url(/2018images/btnNav_middle.png);
      background-repeat: no-repeat;
      background-position: top center;
      background-size: contain;
      text-align: center;
    }

    .awardName {
      font-family: "Trajan Pro 3", serif;
      font-weight: normal;
      /* text-transform: uppercase; */
      font-size: 25px;
      line-height: 25px;
      color: #fec544;
      text-shadow: #00000075 5px 5px 5px;
    }

    .credits {
      text-align: center;
      font-size: 20px;
      line-height: 30px;
      color: white;
      text-shadow: 1px 1px black;
      font-family: "Corbel", Arial, sans-serif;
    }

    .credits-section {
      margin-bottom: 20px;
    }

    .credits-section.condensed p {
      line-height: 1.4;
    }

    .name {
      color: #fec544;
      font-size: 20px;
      font-family: "Trajan Pro 3", serif;
      text-shadow: 1px 1px black;
      margin-left: 3px;
      margin-right: 3px;
      white-space: nowrap;
    }

    .name a {
      border-bottom: 1px solid #fec544;
      text-decoration: none !important;
    }

    .FLAOT {
      display: inline-block;
      margin: 0 30px;
    }

    .specialThanks {
      margin-top: 20px;
      height: 100px;
      margin-bottom: 20px;
    }

    .specialThanks .awardName {
      font-size: 40px;
      line-height: 60px;
    }

    .implying {
      color: #41da4e;
    }
  </style>

  <div class="pageHeader">
    <div class="pageHeaderLogo">
      <img src="/2018images/vga2018_logo.png" class="logo" alt="oh god it's happening again">
    </div>
    <div class="pageHeaderTitle">
      <h1>The 2018 Vidya Gaem Awards</h1>
    </div>
  </div>

  <div class="credits">
    <div class="row">
      <div class="col-md-6">
        <div class="awardHeaderContainer">
          <div class="awardName">Production Team</div>
        </div>
        <div class="credits-section">
          <p>Directed by <span class="name">Counter</span></p>
          <p>Produced by <span class="name">Lamer Gamer</span></p>
          <p>Voiced by <span class="name">Counter</span>, <span class="name">Duke</span>, <span class="name">John C.</span> & <span class="name">Shuttah</span></p>
          <p>Website by <span class="name">Segab</span> & <span class="name">Clamburger</span></p>
          <p>Developer contact handled by <span class="name">Anonymous</span> & <span class="name">Lamer Gamer</span></p>
        </div>

        <div class="awardHeaderContainer">
          <div class="awardName">Video Team</div>
        </div>

        <div class="credits-section">
          <p>Graphics by <span class="name">Segab</span>, <span class="name">Duke</span> & <span class="name">Anonymous</span></p>
          <p>
            Video production and editing by
            <span class="name">toad</span>,
            <span class="name">dbraymz</span>,
            <span class="name">Counter</span>,
            <span class="name">shuttah</span>,
            <span class="name">Segab</span> &
            <span class="name">Anonymous</span>
          </p>
          <p>
            Credits by <span class="name">Ahch</span> & <span class="name">shuttah</span>
          </p>
        </div>

        <div class="awardHeaderContainer">
          <div class="awardName">Writing Team</div>
        </div>

        <div class="credits-section">
          <p>
            Writing and research by
            <span class="name">Lamer Gamer</span>,
            <span class="name">Importuno</span>,
            <span class="name">Ghmorello</span>,
            <span class="name">GreenTeaCoffeeMadeByMe</span>,
            <span class="name">Kazuchika Okada</span>,
            <span class="name">Dr.J</span>,
            <span class="name">Avex</span>,
            <span class="name">Shuttah</span> &
            <span class="name">Kurushi</span>
          </p>

          <p>
            Translations by <span class="name">Ahch</span> & <span class="name">jorji</span>
          </p>
        </div>

        <div class="awardHeaderContainer">
          <div class="awardName">Audio Team</div>
        </div>

        <div class="credits-section">
          <p>
            <span class="name">nostalgia junkie</span>,
            <span class="name">MMaker</span>,
            <span class="name">beat_shobon</span>,
            <span class="name">Jab50yen</span>,
            <span class="name">Succmarijuano</span>,
            <span class="name">Fv.exe</span> &
            <span class="name">Segab</span>
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="awardHeaderContainer">
          <div class="awardName">Skits and Bumpers</div>
        </div>
        <div class="credits-section condensed">
          <p>
            "Japanese" "Humor" &ndash; <span class="name">Ricardo Milos</span><br>
            Boomer Rant &ndash; <span class="name">anonymous</span><br>
            the really short moon skit &ndash; <span class="name">most</span><br>
            Fallout: The Visual Novel &ndash; <span class="name">Hoffman</span><br>
            Dankest Dungeon &ndash; <span class="name">George</span><br>
            Ave MaREEEEa &ndash; <span class="name">shuttah</span><br>
            Persona 3.5 Recarbonated Teaser &ndash; <span class="name">PeanutButterFun/A Chicken Nugget</span><br>
            Cover Me Arthur &ndash; <span class="name">Neatoburrito</span><br>
            a message for /v/ &ndash; <span class="name">L.R.D.</span><br>
            To Vidya of 2017+1-1 &ndash; <span class="name">Blue Room Anon</span><br>
            life-changing-magic.mp4 &ndash; <span class="name">anonymous</span><br>
            Vidya Piracy &ndash; <span class="name">FierceDeityLink</span><br>
            Fallout 76 VR &ndash; <span class="name">FierceDeityLink</span><br>
            The Life Changing Magic of Tidying Up Your Video Games &ndash; <span class="name">Anonymous</span><br>
            Mobile Esports &ndash; <span class="name">Alexsey</span><br>
            Fuck you you stupid fucking dog &ndash; <span class="name">Anonymous</span><br>
            *Krakku* &ndash; <span class="name">Duke</span><br>
            Trumpet Man &ndash; <span class="name">Lamer Gamer</span>
          </p>
        </div>

        <div class="awardHeaderContainer">
          <div class="awardName">/agdg/ Trailers</div>
        </div>

        <div class="credits-section condensed">
          <p>
            <span class="name"><a href="https://underspacegame.tumblr.com/" target="_blank">Underspace</a></span> by Pastaspace Interactive<br>
            <span class="name"><a href="https://conceptiongames.itch.io/bokube-2018-demo" target="_blank">Bokube</a></span> by BokuDev<br>
            <span class="name"><a href="https://twitter.com/polincgames">SABAT Fight Arena</a></span> by polinc games<br>
            <span class="name"><a href="https://store.steampowered.com/app/657550/quadrantica/" target="_blank">Quadrantica</a></span> by Cerebral Division<br>
            <span class="name"><a href="https://neetdev.itch.io/the-deep" target="_blank">The Deep</a></span> by neetdev<br>
            <span class="name"><a href="https://store.steampowered.com/app/809310/Sipho/" target="_blank">Sipho</a></span> by All Parts Connected
          </p>
        </div>
      </div>
    </div>

    <div class="zig" style="margin-top: 20px;"></div>

    <div class="row">
      <div class="col-md-12">
        <div class="awardHeaderContainer specialThanks">
          <div class="awardName">Special Thanks</div>
        </div>
        <p class="FLAOT"><span class="name">Anonymous</span></p>
        <p style="margin-top: 20px;">And most importantly, <span class="name" style="font-size: x-large;">you!</span></p>
      </div>
    </div>

    <div class="zig"></div>

    <div class="row" style="margin-top: 200px;">
      <div class="col-12">
        <p class="implying">&gt;they contribute to a shitty online video game award show</p>
        <p class="implying">&gt;they take their jobs very seriously</p>
        <p class="implying">&gt;they do it for free</p>
        <img src="{{ asset('img/for-free.jpg') }}" style="width: 200px;">
      </div>
    </div>
  </div>

{% endblock %}
