{% extends 'base/standardThemed.html.twig' %}

{% block title 'Credits' %}

{% block css %}
  {{ parent() }}

  <style type="text/css">
      p {
      /*    font-family: "Corbel", Arial, sans-serif;*/
          font-size: 16px;
          line-height: 1.3em;
      }

      /*.awardHeaderContainer {*/
      /*    height: auto;*/
      /*    margin: 0 0 20px 0;*/
      /*    padding: 10px 0 20px;*/
      /*    background-image: url(/2020images/btnNav_middle.png);*/
      /*    background-size: contain;*/
      /*    background-repeat: no-repeat;*/
      /*    background-position: top center;*/
      /*    text-align: center;*/
      /*}*/

      /*@keyframes flicker {*/
      /*    0%  { opacity: 0; }*/
      /*    5% { opacity: 0; }*/
      /*    6% { opacity: 0.6; }*/
      /*    10% { opacity: 0.6; }*/
      /*    11% { opacity: 0.2; }*/
      /*    15% { opacity: 0.2; }*/
      /*    16% { opacity: 0.8; }*/
      /*    20% { opacity: 0.8; }*/
      /*    21% { opacity: 0.4; }*/
      /*    26% { opacity: 0.4; }*/
      /*    70% { opacity: 1; }*/
      /*}*/

      .awardName {
      /*    font-family: "Coolvetica", Helvetica, sans-serif;*/
      /*    font-weight: normal;*/
      /*    text-transform: uppercase;*/
      /*    color: #f29823;*/
      /*    text-shadow: #f29823 0px 0px 3px;*/
      /*    font-size: 30px;*/
      /*    line-height: 100%;*/
      /*    margin-top: 5px;*/

      /*    animation-duration: 4s;*/
      /*    animation-name: flicker;*/
      /*    animation-iteration-count: 1;*/
      }

      .credits {
          /*text-align: center;*/
          /*font-size: 20px;*/
          /*line-height: 30px;*/
          /*color: white;*/
          /*text-shadow: 1px 1px black;*/
          /*font-family: "Corbel", Arial, sans-serif;*/
      }

      .credits-section {
          margin-bottom: 20px;
      }

      .credits-section.condensed p {
          line-height: 1.4;
      }

      .name {
          color: black;
          font-family: "Dot Matrix", sans-serif;
          font-weight: bold;
          /*text-decoration: none;*/
          /*font-family: "OratorStd", "Courier New", serif;*/
          /*text-shadow: #00000080 3px 3px 3px;*/
          font-size: 20px;
          line-height: 1.2em;
          padding: 0;

          /*color: #fec544;*/
          /*font-size: 20px;*/
          /*font-family: "Trajan Pro 3", serif;*/
          /*text-shadow: 1px 1px black;*/
          margin-left: 3px;
          /*margin-right: 3px;*/
          white-space: nowrap;
      }

      .name a {
          font-family: "Dot Matrix", sans-serif;
      }

      .FLAOT {
          display: inline-block;
          margin: 0 30px;
      }

      .specialThanks {
          margin-top: 20px;
          height: 100px;
          margin-bottom: 20px;
      }

      .specialThanks .awardName {
          font-size: 40px;
          line-height: 60px;
      }


      .credits-header {
          background-image: url(/2020images/tape.png);
      }

      .award-header {
          background-size: contain;
      }

      .award-header .award-name-container {
          padding: 10px;
      }

      .award-header .award-name {
          font-size: 1.75em;
      }

      .credits ul.tree-view a {
          color: #0056b3;
      }

      .credits a:hover {
          text-decoration: underline;
          color: white;
      }

      header .logo {
          margin-right: 0;
      }
  </style>
{% endblock %}

{% block content %}
  <div class="center-container">
    <header>
      <div class="logo" href="{{ path('index') }}">
        <img src="{{ asset('2021images/logohd.png') }}">
        <img src="/2021images/textlogo.png" class="logo-text">
      </div>
    </header>

    <div class="credits">
      <div class="row">
        <div class="col-md-6">
          <div class="window">
            <div class="title-bar">
              <div class="title-bar-text">
                The /v/GA Team
              </div>
            </div>
            <div class="window-body">
              <ul class="tree-view">
                <li>
                  <strong>Writing and Research</strong>
                </li>
                <li>
                  <ul>
                    <li>beatstar</li>
                    <li>Happymartin</li>
                    <li>Hoffmann</li>
                    <li>Lamer Gamer</li>
                    <li>cormano</li>
                    <li>PhoneEatingBear</li>
                    <li>Importuno</li>
                    <li>Dr. J</li>
                    <li>hg80</li>
                    <li>Cee</li>
                    <li>Vander</li>
                    <li>db</li>
                  </ul>
                </li>
                <li>
                  <strong>Website</strong>
                </li>
                <li>
                  <ul>
                    <li>Clamburger</li>
                    <li>Lamer Gamer</li>
                  </ul>
                </li>
                <li>
                  <strong>Voice Actors</strong>
                </li>
                <li>
                  <ul>
                    <li>beatstar</li>
                    <li>toad</li>
                    <li>Phaseroll</li>
                    <li>Pomathan</li>
                    <li>Imakuni</li>
                    <li>CrazedJew</li>
                    <li>shuttah</li>
                    <li>Lamer Gamer</li>
                    <li>the dude who shouted for the dmc nominee</li>
                    <li>John C</li>
                    <li>StephanosRex</li>
                    <li>Importuno</li>
                    <li>MoriSummer</li>
                    <li>Donny Q</li>
                    <li>RedMarz</li>
                  </ul>
                </li>
                <li>
                  <strong>Video</strong>
                </li>
                <li>
                  <ul>
                    <li>beatstar</li>
                    <li>toad</li>
                    <li>shuttah</li>
                    <li>Donny Q</li>
                    <li>Anon</li>
                    <li>Lamer Gamer</li>
                    <li>cormano</li>
                    <li>Bonzi/Someguy</li>
                    <li>db</li>
                    <li>anonymous</li>
                    <li>Vander</li>
                  </ul>
                </li>
                <li>
                  <strong>Outreach</strong>
                </li>
                <li>
                  <ul>
                    <li>beatstar</li>
                    <li>anonymous</li>
                  </ul>
                </li>
                <li>
                  <strong>Music/Audio</strong>
                </li>
                <li>
                  <ul>
                    <li>nostalgia_junkie</li>
                    <li>beat_shobon</li>
                    <li>fv.exe</li>
                    <li>W.T. Snacks</li>
                  </ul>
                </li>
                <li>
                  <strong>Art/Graphics</strong>
                </li>
                <li>
                  <ul>
                    <li>Dr. J</li>
                    <li>hg80</li>
                    <li>beatstar</li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="window">
            <div class="title-bar">
              <div class="title-bar-text">
                Contributors
              </div>
            </div>
            <div class="window-body">
              <ul class="tree-view">
                <li>
                  <strong>Skits</strong>
                </li>
                <li>
                  <ul>
                    <li><strong>Dark Age of Gaming</strong> &ndash; Hoffmann</li>
                    <li><strong>Yestergaem</strong> &ndash; Necroanon</li>
                    <li><strong>GTA Definitely Shit Edition</strong> &ndash; Hoffmann</li>
                    <li><strong>LTG vs. DSP</strong> &ndash; Neatoburrito</li>
                    <li><strong>Jose Wants 7 Dollars</strong> &ndash; Neatoburrito</li>
                    <li><strong>In Memoriam</strong> &ndash; CrazedJew</li>
                  </ul>
                </li>
                <li>
                  <strong>Bumpers</strong>
                </li>
                <li>
                  <ul>
                    <li><strong>Stranded (1, 2, and 3)</strong> &ndash; Anonymous</li>
                    <li><strong>Amogus</strong> &ndash; Hoffmann</li>
                    <li><strong>Balan Smash</strong> &ndash; shuttah</li>
                    <li><strong>GTA Smash</strong> &ndash; shuttah</li>
                    <li><strong>She's a Pretty Hot Cartoon</strong> &ndash; Donny Q</li>
                    <li><strong>WindowsScape</strong> &ndash; ArcadenBlog</li>
                    <li><strong>comp1vhs</strong> &ndash; ArcadenBlog</li>
                    <li><strong>Welcome to the /v/GAs!</strong> &ndash; RedMarz</li>
                  </ul>
                </li>
                <li>
                  <strong>/agdg/ Trailers</strong>
                </li>
                <li>
                  <ul>
                    <li><strong><a href="https://store.steampowered.com/app/1683370/Blocky_Dungeon/">Blocky Dungeon</a></strong> &ndash; SquareAnon</li>
                    <li><strong><a href="https://store.steampowered.com/app/1861290/Devil_Spire/">Devil Spire</a></strong> &ndash; Ithiro Sumi</li>
                    <li><strong><a href="https://gaem-by-jj.itch.io/h8machine">h8machine</a></strong> &ndash; gaem by jj</li>
                    <li><strong><a href="https://hugthegator.xyz/">I Wani Hug the Gator</a></strong> &ndash; Cavemanon Studios</li>
                    <li><strong><a href="https://mammothplant.itch.io/mirrored-soul">Mirrored Soul</a></strong> &ndash; mammothplant</li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>

          <div class="window" style="margin-top: 20px;">
            <div class="title-bar">
              <div class="title-bar-text">
                Other
              </div>
            </div>
            <div class="window-body">
              <ul class="tree-view">
                <li>
                  <strong>Acknowledgements</strong>
                </li>
                <li>
                  <ul>
                    <li>Miku Live2d rig &ndash; This work depicts the character "Hatsune Miku" of Crypton Future Media Co., Ltd. based on the <a href="https://piapro.jp/license/pcl/summary">Piapro Character License</a>.</li>
                    <li><a href="https://twitter.com/snakesandrews">Blake Andrews</a> &ndash; Games for the website: "Rig the Vote" and "Don't Pick Skyrim"</li>
                  </ul>
                </li>
                <li>
                  <strong>Special Thanks</strong>
                </li>
                <li>
                  <ul>
                    <li><a href="https://archive.org">archive.org</a></li>
                    <li>Supremax</li>
                    <li>BadSkiddy</li>
                    <li>Cee</li>
                    <li>/v/</li>
                    <li>...and most importantly &ndash; <strong>you!</strong></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>

          <div class="window" style="margin-top: 20px;">
            <div class="title-bar">
              <div class="title-bar-text">
                Legal
              </div>
            </div>
            <div class="window-body">
              <ul class="tree-view">
                <li>
                  <strong>This awards show contains chemicals known to the State of California to cause cancer and birth defects or other reproductive harm.</strong>
                </li>
                    <li class="implying">&gt;they contribute to a shitty online video game award show</li>
                    <li class="implying">&gt;they take their jobs very seriously</li>
                    <li class="implying">&gt;they do it for free</li>
              </ul>
              <div class="window" style="display: inline-block; margin-top: 8px;">
                <div class="window-body" style="margin: 3px;">
                  <img src="{{ asset('img/for-free.jpg') }}" style="width: 200px;">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
