{% extends 'base/standardThemed.html.twig' %}

{% block title 'Credits' %}

{% block content %}
  <style type="text/css">
    p {
      font-family: Tahoma, sans-serif;
      font-size: 18px;
      line-height: 1.3em;
    }

    .awardHeaderContainer {
      margin: 50px 0 10px 0;
      padding: 10px;
      background: url('{{ asset('2017images/title_bg.png') }}') center center no-repeat;
      text-align: center;
    }

    .awardHeaderContainer:first-child {
      margin-top: 0;
    }

    .awardName {
      font-weight: normal;
      text-transform: uppercase;
      font-size: 1.6em;
      color: yellow;
      text-shadow: 2px 2px black;
      font-style: italic;
    }

    .credits {
      text-align: center;
      font-size: 20px;
      line-height: 30px;
      color: white;
      text-shadow: 1px 1px black;
    }

    .credits strong {
      color: yellow;
      font-size: 22px;
      text-shadow: 1px 1px black;
    }

    .FLAOT {
      display: inline-block;
      margin: 0 30px;
    }

    .specialThanks {
      background-size: auto;
      /*height: 100px;*/
      /*padding-top: 38px;*/
      font-size: x-large;
      margin-bottom: 20px;
    }

    .green {
      color: #008751;
    }

    .gold {
      color: #FCD116;
    }

    .green, .gold {
      margin: 0 -7px 0 -7px;
    }

    .implying {
      color: lime;
    }
  </style>

  <div class="zig"></div>

  <div class="row">
    <div class="col-md-4" style="text-align: center;">
      <img src="{{ asset('2017images/vga_logo2.png') }}" alt="Logo of the 2017 Vidya Gaem Awards">
    </div>
    <div class="col-md-8" style="text-align: center; padding-top: 30px;">
      <h1>Cast and Crew of the 2017 Vidya&nbsp;Gaem&nbsp;Awards</h1>
    </div>
  </div>

  <div class="zig"></div>

  <div class="credits">
    <div class="row">
      <div class="col-md-6">
        <div class="awardHeaderContainer">
          <div class="awardName">Production Team:</div>
        </div>
        <p>Directed by <strong>PhoneEatingBear</strong></p>
        <p>Produced by <strong>PhoneEatingBear</strong> &amp; <strong>Anonymous</strong></p>
        <p>Assistant Producer <strong>CounterTunes</strong></p>
        <p>Template by <strong>Ghost</strong> & <strong>Segab</strong></p>
        <p>Edited by <strong>PhoneEatingBear</strong></p>
        <p>Voiced by <strong>Jab50Yen</strong>, <strong>Duke</strong>, <strong>CounterTunes</strong>,
          <strong>John C</strong>, <strong>DonnyQ</strong> & <strong>Microsoft Sam</strong></p>
        <p>Music by <strong>MatrixMarioX</strong>, <strong>FutanariVorestep.exe</strong>, <strong>Jab50Yen</strong>
         & <strong>FR3AK</strong></p>

        <div class="awardHeaderContainer">
          <div class="awardName">Writing Team:</div>
        </div>

        <p>
          <strong>Lamer Gamer</strong>, <strong>Duke</strong>, <strong>Beatstar</strong>,
          <strong>PhoneEatingBear</strong>, <strong>GreenTeaCoffeeByMe</strong>,
          <strong>Val</strong>, <strong>Argin</strong>, <strong>Importuno</strong>,
          <strong>Ghmorello</strong>, <strong>Avex</strong>, <strong>Val</strong>, <strong>Dr. J</strong>,
          <strong>Ahch</strong> & <strong>Kurushi</strong>
        </p>

        <div class="awardHeaderContainer">
          <div class="awardName">Video Team:</div>
        </div>

        <p>
          <strong>CounterTunes</strong>, <strong>Anonymous</strong>, <strong>Lamer Gamer</strong>,
          <strong>PhoneEatingBear</strong>, <strong>DBraymz</strong> & <strong>Segab</strong>
        </p>

        <div class="awardHeaderContainer">
          <div class="awardName">Research Team:</div>
        </div>

        <p>
          <strong>Segab</strong>, <strong>Lamer Gamer</strong>, <strong>CounterTunes</strong>,
          <strong>Anonymous</strong>, <strong>Quinmael</strong>, <strong>Stevie T Transmission</strong>,
          <strong>Bird</strong>, <strong>GreenTeaCoffeeByMe</strong>, <strong>Importuno</strong> &
          <strong>Theu</strong>
        </p>
      </div>
      <div class="col-md-6">
        <div class="awardHeaderContainer">
          <div class="awardName">Skits and Bumpers:</div>
        </div>
        <p>
          &ldquo;2017 Overture&rdquo; &ndash; <strong>BroBuzz</strong><br>
          &ldquo;Hotline Miami 3 - 90s Hole&rdquo; &ndash; <strong>Anonymous</strong><br>
          &ldquo;In The Hall of Combo Fiend&rdquo; &ndash; <strong>Anonymous</strong><br>
          &ldquo;Kratos Swimming&rdquo; &ndash; <strong>SpaceCopS</strong><br>
          &ldquo;ABCs of Vidya&rdquo; &ndash; <strong>Voluntary Ignorance</strong><br>
          &ldquo;King of Moon Flowers&rdquo; &ndash; <strong>most</strong><br>
          &ldquo;Anon's Wacky Christmas&rdquo; &ndash; <strong>Anonymous</strong><br>
          &ldquo;The Joi of Gaming&rdquo; &ndash; <strong>Neatoburritoproductions</strong><br>
          &ldquo;Bonzi Buddy&rdquo; &ndash; <strong>Shuttah</strong><br>
          &ldquo;David Become Cage&rdquo; &ndash; <strong>PowerPak</strong><br>
          &ldquo;A BOX&rdquo; &ndash; <strong>CounterTunes</strong><br>
          &ldquo;Vidya Reference!!11&rdquo; &ndash; <strong>Oast</strong><br>
          &ldquo;funnykat 2017 - Beast&rdquo; &ndash; <strong>merinuza</strong><br>
          &ldquo;Pubmart Shopping Network&rdquo; &ndash; <strong>Shuttah</strong><br>
          &ldquo;2B Ass Bumper&rdquo; &ndash; <strong>most</strong><br>
          &ldquo;>shadman Bumper&rdquo; &ndash; <strong>most</strong><br>
          &ldquo;Ironic Shitposting Bumper&rdquo; &ndash; <strong>Duke</strong><br>
          &ldquo;Sonic Bumper&rdquo; &ndash; <strong>most</strong><br>
          &ldquo;Yakuza Bumper&rdquo; &ndash; <strong>most</strong><br>
          &ldquo;Cities Skylines Bumper&rdquo; &ndash; <strong>CounterTunes</strong><br>
          &ldquo;paint.exe Bumper&rdquo; &ndash; <strong>Shuttah</strong><br>
          &ldquo;SoyBoy64&rdquo; &ndash; - <strong>Nillor</strong>
        </p>

        <div class="awardHeaderContainer">
          <div class="awardName">Pleb Patrol:</div>
        </div>
        <p>Preshow by <strong>Anonymous</strong></p>
        <p>Intermission by <strong>CounterTunes</strong></p>
        <p>Credits by <strong>Ahch</strong></p>
        <p>Ahch's Wife: <strong>YoRHa No.2 Type B</strong></p>
        <p>Website by <strong>Clamburger</strong>, <strong>Segab</strong> & <strong>(You)</strong></p>
      </div>
    </div>

    <div class="zig" style="margin-top: 20px;"></div>

    <div class="row">
      <div class="col-md-12">
        <div class="awardHeaderContainer specialThanks">
          <div class="awardName">Special Thanks:</div>
        </div>
        <p class="FLAOT"><strong>Anonymous</strong></p>
        <p style="margin-top: 20px;">And most importantly, <strong style="font-size: x-large;">you!</strong></p>
      </div>
    </div>

    <div class="zig"></div>

    <div class="row" style="margin-top: 200px;">
      <div class="col-xs-12">
        <p class="implying">&gt;they contribute to a shitty online video game award show</p>
        <p class="implying">&gt;they take their jobs very seriously</p>
        <p class="implying">&gt;they do it for free</p>
        <img src="{{ asset('img/for-free.jpg') }}" style="width: 200px;">
      </div>
    </div>
  </div>

{% endblock %}
