{% extends 'base/standardThemed.html.twig' %}

{% block title 'Credits' %}

{% block css %}
  {{ parent() }}

  <style type="text/css">
      p {
      /*    font-family: "Corbel", Arial, sans-serif;*/
          font-size: 20px;
          line-height: 1.3em;
      }

      /*.awardHeaderContainer {*/
      /*    height: auto;*/
      /*    margin: 0 0 20px 0;*/
      /*    padding: 10px 0 20px;*/
      /*    background-image: url(/2020images/btnNav_middle.png);*/
      /*    background-size: contain;*/
      /*    background-repeat: no-repeat;*/
      /*    background-position: top center;*/
      /*    text-align: center;*/
      /*}*/

      /*@keyframes flicker {*/
      /*    0%  { opacity: 0; }*/
      /*    5% { opacity: 0; }*/
      /*    6% { opacity: 0.6; }*/
      /*    10% { opacity: 0.6; }*/
      /*    11% { opacity: 0.2; }*/
      /*    15% { opacity: 0.2; }*/
      /*    16% { opacity: 0.8; }*/
      /*    20% { opacity: 0.8; }*/
      /*    21% { opacity: 0.4; }*/
      /*    26% { opacity: 0.4; }*/
      /*    70% { opacity: 1; }*/
      /*}*/

      .credits .award-name {
          font-size: 2.7em;
          text-transform: unset;
          font-family: "Olde title";
          color: rgba(180, 80, 22, 0.8);
      }

      .credits {
          text-align: center;
          /*font-size: 20px;*/
          /*line-height: 30px;*/
          /*color: white;*/
          /*text-shadow: 1px 1px black;*/
          /*font-family: "Corbel", Arial, sans-serif;*/
      }

      .credits-section {
        font-family: Chronotype,sans-serif;
        font-size: 30px;
        color: #fff;
        background: #000;
        border: 20px ridge #fff;
        border-radius: 8px;
        padding: 5px 20px;
      }

      .credits-section.condensed p {
          margin-bottom: 0.3rem;
      }

      .credits-section a {
          color: #f0961f;
      }

      .name {
          color: yellow;
          font-weight: bold;

          /*text-decoration: none;*/
          /*font-family: "OratorStd", "Courier New", serif;*/
          /*text-shadow: #00000080 3px 3px 3px;*/
          font-size: 22px;
          line-height: 1.2em;
          padding: 0;

          /*color: #fec544;*/
          /*font-size: 20px;*/
          /*font-family: "Trajan Pro 3", serif;*/
          /*text-shadow: 1px 1px black;*/
          margin-left: 3px;
          /*margin-right: 3px;*/
          white-space: nowrap;
      }

      .FLAOT {
          display: inline-block;
          margin: 0 30px;
      }

      .specialThanks {
          margin-top: 20px;
          height: 100px;
          margin-bottom: 20px;
      }

      .specialThanks .awardName {
          font-size: 40px;
          line-height: 60px;
      }

      .award-header {
          background-size: contain;
          margin-bottom: 0px;
      }

      .award-header .award-name-container {
          padding: 10px;
      }

      .credits a:hover {
          text-decoration: underline;
          color: white;
      }

      .implying {
          color: lime;
      }

      .top-trim {
        position: relative;
        mix-blend-mode: color-burn;
        height: 0px;
      }
      .top-trim > div {
        position: absolute;
        background-image: url('/2023images/background-pattern-upper.png');
        width: 100vw;
        height: 106px;
        top: 59px;
        opacity: 0.8;
        background-size: contain;
      }

      .bottom-trim {
        position: relative;
        mix-blend-mode: color-burn;
        background-image: url('/2023images/background-pattern-lower.png');
        width: 100vw;
        height: 106px;
        opacity: 0.8;
        background-size: contain;
        mix-blend-mode: color-burn;
      }

  </style>
{% endblock %}

{% block content %}
  <div class="top-trim"><div></div></div>
  <div class="center-container" style="padding-top: 68px;">
    <header>
      <div class="logo" href="{{ path('index') }}">
        <img src="{{ asset('2023images/logo.png') }}">
      </div>
      <div class="title-text">
        The 2023 Vidya Gaem Awards
      </div>
    </header>

    <div class="credits">
      <div class="row">
        <div class="col-md-6">
          <div class="award-header">
            <div class="award-name-container">
              <h3 class="award-name">Production Team</h3>
            </div>
          </div>

          <div class="credits-section">
            <p>
              Directed by <span class="name">Donny Q</span>
            </p>

            <p>
              Produced by 
              <span class="name">Counter</span>,
              <span class="name">db</span> &
              <span class="name">shuttah</span>
            </p>

            <p>
            Writing and research by
              <span class="name">beatstar</span>,
              <span class="name">Cee</span>,
              <span class="name">cormano</span>,
              <span class="name">CrazedJew</span>,
              <span class="name">db</span>,
              <span class="name">Dr. J</span>,
              <span class="name">hg80</span>,
              <span class="name">Hoffman</span>,
              <span class="name">Importuno</span>,
              <span class="name">Lamer Gamer</span>,
              <span class="name">metoxys</span>,
              <span class="name">Raccoons</span>,
              <span class="name">StephanosRex</span> &
              <span class="name">Anonymous</span>
            </p>

            <p>
              Website by
              <span class="name">Clamburger</span>,
              <span class="name">Lamer Gamer</span>,
              <span class="name">ZedZagg</span> &
              <span class="name">Anonymous</span>
            </p>

            <p>
              Developer outreach handled by
              <span class="name">beatstar</span>,
              <span class="name">Dr. J</span> &
              <span class="name">Anonymous</span>
            </p>
          </div>

          <div class="award-header">
            <div class="award-name-container">
              <h3 class="award-name">Video Team</h3>
            </div>
          </div>

          <div class="credits-section">
            <p>
              Video production and editing by
                <span class="name">beatstar</span>,
                <span class="name">CrazedJew</span>,
                <span class="name">Counter</span>,
                <span class="name">db</span>,
                <span class="name">Dr. J</span>,
                <span class="name">Raccoons</span>,
                <span class="name">shuttah</span> &
                <span class="name">Anonymous</span>
            </p>

            <p>
              Art and graphics by
                <span class="name">Iman</span>,
                <span class="name">Lamer Gamer</span>,
                <span class="name">PixelAnon</span> &
                <span class="name">Anonymous</span>
            </p>
          </div>

          <div class="award-header">
            <div class="award-name-container">
              <h3 class="award-name">Audio Team</h3>
            </div>
          </div>

          <div class="credits-section">
            <p>
              Voiced by
                <span class="name">Cee</span>,
                <span class="name">cormano</span>,
                <span class="name">CrazedJew</span>,
                <span class="name">Counter</span>,
                <span class="name">Gherrit White</span>,
                <span class="name">Imakuni</span>,
                <span class="name">Nine Ten</span>,
                <span class="name">PixelAnon</span>,
                <span class="name">Phaseroll</span>,
                <span class="name">Raccoons</span>,
                <span class="name">StephanosRex</span> &
                <span class="name">Anonymous</span>
            </p>
            <p>
              Music and audio by
                <span class="name">beat_shobon</span>,
                <span class="name">fv.exe</span>,
                <span class="name">jab50yen</span>,
                <span class="name">nostalgia junkie</span> &
                <span class="name">W.T. Snacks</span>
            </p>
          </div>

          <div class="award-header">
            <div class="award-name-container">
              <h3 class="award-name">/agdg/ Trailers</h3>
            </div>
          </div>

          <div class="credits-section condensed">
            <p><em><a target="_blank" href="https://getbonus.itch.io">Citizen Kane 64</a></em> &ndash; <span class="name">Branden Upchurch</span></p>
            <p><em><a target="_blank" href="https://store.steampowered.com/app/2641500/Lil_Red">Li'l Red</a></em> &ndash; <span class="name">velveteen</span></p>
            <p><em><a target="_blank" href="https://bydarkcrusader.itch.io/the-dark-future-of-agrippa">The Dark Future of Agrippa</a></em> &ndash; <span class="name">darkcrusader</span></p>
            <p><em><a target="_blank" href="https://store.steampowered.com/app/2801620/Look_Inside">Look Inside</a></em> &ndash; <span class="name">Bitwise Games</span></p>
            <p><em><a target="_blank" href="https://magentasoft.itch.io">Torsion</a></em> &ndash; <span class="name">Magenta Soft</span></p>
            <p><em><a target="_blank" href="https://store.steampowered.com/app/1886210/Mirrored_Soul">Mirrored Soul</a></em> &ndash; <span class="name">mammothplant</span></p>
            </div>

        </div>

        <div class="col-md-6">

          <div class="award-header">
            <div class="award-name-container">
              <h3 class="award-name">Skits</h3>
            </div>
          </div>

          <div class="credits-section condensed">
            <p><em>sv_2077</em> &ndash; <span class="name">Anonymous</span></p>
            <p><em>RARE FFT TAPE</em> &ndash; <span class="name">Pixelbane</span></p>
            <p><em>Dante Bionicle Dream</em> &ndash; <span class="name">Pixelbane</span></p>
            <p><em>BIG CITY SIDEWINDER STATION</em> &ndash; <span class="name">Pixelbane</span></p>
            <p><em>Master Chef</em> &ndash; <span class="name">NecroAnon</span></p>
            <p><em>PSD Won</em> &ndash; <span class="name">NeatoBurrito</span></p>
            <p><em>Steam Deck 1.11 You Can (Nut) Outside</em> &ndash; <span class="name">Bad Skiddy</span></p>
            <p><em>Dragonbitches Ain't Shit</em> &ndash; <span class="name">Dr. J</span></p>
            <p><em>Graffiti for Your Soul</em> &ndash; <span class="name">Nine Ten, Six, Hexen</span></p>
            <p><em>Rivers Rips Roiland</em> &ndash; <span class="name">Anonymous</span></p>
            <p><em>The Last of Us Award</em> &ndash; <span class="name">PhoneEatingBear</span></p>
            <p><em>Jack Addresses /v/</em> &ndash; <span class="name">Anonymous</span></p>
          </div>

          <div class="award-header">
            <div class="award-name-container">
              <h3 class="award-name">Bumpers</h3>
            </div>
          </div>

          <div class="credits-section condensed">
            <p><em>With all due respect to Pan Pizza</em> &ndash; <span class="name">Anonymous</span></p>
            <p><em>Graffitied Train</em> &ndash; <span class="name">Anonymous</span></p>
            <p><em>Ice Village</em> &ndash; <span class="name">Degen</span></p>
            <p><em>sam and max ps5</em> &ndash; <span class="name">WiiFitGOTYedition</span></p>
            <p><em>craftbumper</em> &ndash; <span class="name">shuttah</span></p>
            <p><em>joinusbumper</em> &ndash; <span class="name">shuttah</span></p>
            <p><em>mydearestbumper</em> &ndash; <span class="name">shuttah</span></p>
            <p><em>physicalbumper</em> &ndash; <span class="name">shuttah</span></p>
            <p><em>Advisory/Basket-weaving</em> &ndash; <span class="name">shuttah</span></p>
            <p><em>Wake Up Jack</em> &ndash; <span class="name">Pixelbane</span></p>
            <p><em>Animal Radio</em> &ndash; <span class="name">Pixelbane</span></p>
            <p><em>spray vga logo on wall</em> &ndash; <span class="name">rumbler</span></p>
            <p><em>niche</em> &ndash; <span class="name">Anonymous</span></p>
          </div>

          <div class="award-header">
            <div class="award-name-container">
              <h3 class="award-name">Acknowledgements</h3>
            </div>
          </div>

          <div class="credits-section">            
            <p>Guest &ndash; Condorcet the Slug Girl (voiced by Imakuni)</p>
            <p>Exclusive Premiere bumper animated by <a href="https://twitter.com/snakesandrews">Blake Andrews</a></p>
            <p>This work depicts the character "Hatsune Miku" of Crypton Future Media Co., Ltd. based on the <a href="https://piapro.jp/license/pcl/summary">Piapro Character License</a>.</p>
            <p>This show contains AI-generated content from ElevenLabs, VoiceMod and Midjourney.</p> 
            <p>Some images and music are (c) Square Enix</p>
          </div>
        </div>

        <div class="award-header">
          <div class="award-name-container">
            <h3 class="award-name">Special Thanks</h3>
          </div>
        </div>

        <div class="credits-section condensed">
          <p><span class="name">Astrid</span></p>
          <p><span class="name">N.A</span></p>
          <p><span class="name">Pokemon Clover Team</span></p>
          <p><span class="name">Supremax</span></p>
          <p><span class="name">Yonas</span></p>
          <p><span class="name">/v/</span></p>
          <p><span class="name">...and most importantly, <strong>(You)!</strong></span></p>
        </div>

        <div class="col">
          <div class="credits-section" style="margin-top: 60px;">
            <p style="margin-bottom: 60px;">
              This awards show contains chemicals known to the State of California to cause cancer and birth defects or other reproductive harm.
            </p>

            <p class="implying">&gt;they contribute to a shitty online video game award show</p>
            <p class="implying">&gt;they take their jobs very seriously</p>
            <p class="implying">&gt;they do it for free</p>

            <img src="{{ asset('img/for-free.jpg') }}" style="width: 200px; -webkit-mask-image: url(/2022images/mask.png); -webkit-mask-size: cover;">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom-trim"></div>
{% endblock %}
