{% extends 'base/standardThemed.html.twig' %}

{% block title 'Credits' %}

{% block css %}
  {{ parent() }}

  <style type="text/css">
      p {
      /*    font-family: "Corbel", Arial, sans-serif;*/
          font-size: 16px;
          line-height: 1.3em;
      }

      /*.awardHeaderContainer {*/
      /*    height: auto;*/
      /*    margin: 0 0 20px 0;*/
      /*    padding: 10px 0 20px;*/
      /*    background-image: url(/2020images/btnNav_middle.png);*/
      /*    background-size: contain;*/
      /*    background-repeat: no-repeat;*/
      /*    background-position: top center;*/
      /*    text-align: center;*/
      /*}*/

      /*@keyframes flicker {*/
      /*    0%  { opacity: 0; }*/
      /*    5% { opacity: 0; }*/
      /*    6% { opacity: 0.6; }*/
      /*    10% { opacity: 0.6; }*/
      /*    11% { opacity: 0.2; }*/
      /*    15% { opacity: 0.2; }*/
      /*    16% { opacity: 0.8; }*/
      /*    20% { opacity: 0.8; }*/
      /*    21% { opacity: 0.4; }*/
      /*    26% { opacity: 0.4; }*/
      /*    70% { opacity: 1; }*/
      /*}*/

      .credits .award-name {
          font-size: 2.7em;
          letter-spacing: 6px;
          text-transform: unset;
          text-shadow:
              1px -1px #CF282F,
              2px -2px #4EA24A,
              3px -3px #4EA24A,
              -1px 1px #DA505F,
              -2px 2px #F0961F,
              -3px 3px #F0961F,
              1px 1px #DA505F,
              2px 2px #061019,
              3px 3px #061019,
              -4px 4px #061019;
      }

      .credits {
          text-align: center;
          /*font-size: 20px;*/
          /*line-height: 30px;*/
          /*color: white;*/
          /*text-shadow: 1px 1px black;*/
          /*font-family: "Corbel", Arial, sans-serif;*/
      }

      .credits-section {
          margin-bottom: 30px;
          font-family: Jet Set,sans-serif;
      }

      .credits-section.condensed p {
          margin-bottom: 0.3rem;
      }

      .credits-section a {
          color: #f0961f;
      }

      .name {
          color: white;
          font-weight: bold;
          text-shadow: 1px 1px 2px #cf282f;

          /*text-decoration: none;*/
          /*font-family: "OratorStd", "Courier New", serif;*/
          /*text-shadow: #00000080 3px 3px 3px;*/
          font-size: 20px;
          line-height: 1.2em;
          padding: 0;

          /*color: #fec544;*/
          /*font-size: 20px;*/
          /*font-family: "Trajan Pro 3", serif;*/
          /*text-shadow: 1px 1px black;*/
          margin-left: 3px;
          /*margin-right: 3px;*/
          white-space: nowrap;
      }

      .FLAOT {
          display: inline-block;
          margin: 0 30px;
      }

      .specialThanks {
          margin-top: 20px;
          height: 100px;
          margin-bottom: 20px;
      }

      .specialThanks .awardName {
          font-size: 40px;
          line-height: 60px;
      }

      .award-header {
          background-size: contain;
          margin-bottom: 0px;
      }

      .award-header .award-name-container {
          padding: 10px;
      }

      .credits a:hover {
          text-decoration: underline;
          color: white;
      }

      .implying {
          color: lime;
      }

  </style>
{% endblock %}

{% block content %}
  <div class="center-container">
    <header>
      <div class="logo" href="{{ path('index') }}">
        <img src="{{ asset('2022images/logo.png') }}">
      </div>
      <div class="title-text">
        The 2022 Vidya Gaem Awards
      </div>
    </header>

    <div class="credits">
      <div class="row">
        <div class="col-md-6">
          <div class="award-header">
            <div class="award-name-container">
              <h3 class="award-name">Production Team</h3>
            </div>
          </div>

          <div class="credits-section">
            <p>
              Directed by <span class="name">Donny Q</span>
            </p>

            <p>
              Produced by <span class="name">Importuno</span>
            </p>

            <p>
            Writing and research by
              <span class="name">beatstar</span>,
              <span class="name">Happymartin</span>,
              <span class="name">Hoffmann</span>,
              <span class="name">Lamer Gamer</span>,
              <span class="name">cormano</span>,
              <span class="name">PhoneEatingBear</span>,
              <span class="name">Importuno</span>,
              <span class="name">Dr. J</span>,
              <span class="name">hg80</span>,
              <span class="name">Cee</span>,
              <span class="name">Vander</span> &
              <span class="name">db</span>
            </p>

            <p>
              Website by
              <span class="name">Clamburger</span> &
              <span class="name">Lamer Gamer</span>
            </p>

            <p>
              Developer outreach handled by
              <span class="name">beatstar</span> &
              <span class="name">Anonymous</span>
            </p>
          </div>

          <div class="award-header">
            <div class="award-name-container">
              <h3 class="award-name">Video Team</h3>
            </div>
          </div>

          <div class="credits-section">
            <p>
              Video production and editing by
                <span class="name">beatstar</span>,
                <span class="name">toad</span>,
                <span class="name">shuttah</span>,
                <span class="name">Donny Q</span>,
                <span class="name">Anon</span>,
                <span class="name">Lamer Gamer</span>,
                <span class="name">cormano</span>,
                <span class="name">Bonzi/Someguy</span>,
                <span class="name">db</span>,
                <span class="name">anonymous</span> &
                <span class="name">Vander</span>
            </p>

            <p>
              Art and graphics by
                <span class="name">Dr. J</span>,
                <span class="name">hg80</span> &
                <span class="name">beatstar</span>
            </p>

            <p>
              Template by
                <span class="name">shuttah</span>
            </p>
          </div>

          <div class="award-header">
            <div class="award-name-container">
              <h3 class="award-name">Audio Team</h3>
            </div>
          </div>

          <div class="credits-section">
            <p>
              Voiced by
                <span class="name">beatstar</span>,
                <span class="name">toad</span>,
                <span class="name">Phaseroll</span>,
                <span class="name">Pomathan</span>,
                <span class="name">Imakuni</span>,
                <span class="name">CrazedJew</span>,
                <span class="name">shuttah</span>,
                <span class="name">Lamer Gamer</span>,
                <span class="name">the dude who shouted for the dmc nominee</span>,
                <span class="name">John C</span>,
                <span class="name">StephanosRex</span>,
                <span class="name">Importuno</span>,
                <span class="name">MoriSummer</span>,
                <span class="name">Donny Q</span> &
                <span class="name">RedMarz</span>
            </p>
            <p>
              Music and audio by
                <span class="name">nostalgia_junkie</span>,
                <span class="name">beat_shobon</span>,
                <span class="name">fv.exe</span> &
                <span class="name">W.T. Snacks</span>
            </p>
          </div>

          <div class="award-header">
            <div class="award-name-container">
              <h3 class="award-name">/agdg/ Trailers</h3>
            </div>
          </div>

          <div class="credits-section condensed">
            <p><em><a target="_blank" href="https://store.steampowered.com/app/1683370/Blocky_Dungeon/">Blocky Dungeon</a></em> &ndash; <span class="name">SquareAnon</span></p>
            <p><em><a target="_blank" href="https://store.steampowered.com/app/1861290/Devil_Spire/">Devil Spire</a></em> &ndash; <span class="name">Ithiro Sumi</span></p>
            <p><em><a target="_blank" href="https://gaem-by-jj.itch.io/h8machine">h8machine</a></em> &ndash; <span class="name">gaem by jj</span></p>
            <p><em><a target="_blank" href="https://hugthegator.xyz/">I Wani Hug the Gator</a></em> &ndash; <span class="name">Cavemanon Studios</span></p>
            <p><em><a target="_blank" href="https://mammothplant.itch.io/mirrored-soul">Mirrored Soul</a></em> &ndash; <span class="name">mammothplant</span></p>
          </div>

        </div>

        <div class="col-md-6">

          <div class="award-header">
            <div class="award-name-container">
              <h3 class="award-name">Skits</h3>
            </div>
          </div>

          <div class="credits-section condensed">
            <p><em>Dark Age of Gaming</em> &ndash; <span class="name">Hoffmann</span></p>
            <p><em>Yestergaem</em> &ndash; <span class="name">Necroanon</span></p>
            <p><em>GTA Definitely Shit Edition</em> &ndash; <span class="name">Hoffmann</span></p>
            <p><em>LTG vs. DSP</em> &ndash; <span class="name">Neatoburrito</span></p>
            <p><em>Jose Wants 7 Dollars</em> &ndash; <span class="name">Neatoburrito</span></p>
            <p><em>In Memoriam</em> &ndash; <span class="name">CrazedJew</span></p>
          </div>

          <div class="award-header">
            <div class="award-name-container">
              <h3 class="award-name">Bumpers</h3>
            </div>
          </div>

          <div class="credits-section condensed">
            <p><em>Stranded (1, 2& 3)</em> &ndash; <span class="name">Anonymous</span></p>
            <p><em>Amogus</em> &ndash; <span class="name">Hoffmann</span></p>
            <p><em>Balan Smash</em> &ndash; <span class="name">shuttah</span></p>
            <p><em>GTA Smash</em> &ndash; <span class="name">shuttah</span></p>
            <p><em>She's a Pretty Hot Cartoon</em> &ndash; <span class="name">Donny Q</span></p>
            <p><em>WindowsScape</em> &ndash; <span class="name">ArcadenBlog</span></p>
            <p><em>comp1vhs</em> &ndash; <span class="name">ArcadenBlog</span></p>
            <p><em>Welcome to the /v/GAs!</em> &ndash; <span class="name">RedMarz</span></p>
          </div>

          <div class="award-header">
            <div class="award-name-container">
              <h3 class="award-name">Acknowledgements</h3>
            </div>
          </div>

          <div class="credits-section">
            <p>Miku Live2d rig &ndash; This work depicts the character "Hatsune Miku" of Crypton Future Media Co., Ltd. based on the <a href="https://piapro.jp/license/pcl/summary">Piapro Character License</a>.</p>
            <p><a href="https://twitter.com/snakesandrews">Blake Andrews</a> &ndash; Games for the website: "Rig the Vote" and "Don't Pick Skyrim"</p>
          </div>

          <div class="award-header">
            <div class="award-name-container">
              <h3 class="award-name">Special Thanks</h3>
            </div>
          </div>

          <div class="credits-section condensed">
            <p><span class="name"><a href="https://archive.org">archive.org</a></span></p>
            <p><span class="name">Supremax</span></p>
            <p><span class="name">BadSkiddy</span></p>
            <p><span class="name">Cee</span></p>
            <p><span class="name">/v/</span></p>
            <p><span class="name">...and most importantly &ndash; <strong>you!</strong></span></p>
          </div>
        </div>

        <div class="col">
          <div class="credits-section" style="margin-top: 60px;">
            <p style="margin-bottom: 60px;">
              This awards show contains chemicals known to the State of California to cause cancer and birth defects or other reproductive harm.
            </p>

            <p class="implying">&gt;they contribute to a shitty online video game award show</p>
            <p class="implying">&gt;they take their jobs very seriously</p>
            <p class="implying">&gt;they do it for free</p>

            <img src="{{ asset('img/for-free.jpg') }}" style="width: 200px; -webkit-mask-image: url(/2022images/mask.png); -webkit-mask-size: cover;">
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
