{% extends 'base/standard.html.twig' %}

{% block title %}Lootbox Settings{% endblock %}

{% block beforeContainer %}
  {% include 'parts/itemAdminBar.twig' %}
{% endblock %}

{% block content %}
  <h1 class="page-header board-header">Lootbox Settings</h1>

  <div class="col-md-4 offset-md-4 mb-4 mt-4">
    <form method="post">
      <div class="form-group">
        <label for="cost">Lootbox cost</label>

        <div class="input-group mb-3">
          <input type="number" class="form-control" step="1" min="0" id="cost" name="cost" required value="{{ settings.cost | e('html_attr') }}">
          <div class="input-group-append">
            <span class="input-group-text">shekels</span>
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary w-100">Save Changes</button>
    </form>
  </div>

{% endblock %}
