{% extends 'base/special.html.twig' %}

{% block fullTitle %}2022 Vidya Gaem Awards{% endblock %}

{% block css %}
  {{ encore_entry_link_tags('voting') }}

  {{ parent() }}

  <style type="text/css">
    html, body {
      height: 100%;
    }

    body {
        height: 100%;
        background-image: url("/2022images/bg.png");
        background-position: center;
        background-size: cover;
    }

    button {
        font-size: 16px;
        font-weight: bold;
        height: 40px;
        width: 200px;
    }

    /*  background-color: #000;*/
    /*  border-radius: 2px;*/
    /*  color: #f81317;*/
    /*  text-shadow: #f81317 0px 0px 3px;*/
    /*  padding: 5px 15px 1px;*/
    /*  border: 1px solid #f81317;*/
    /*  font-family: "OratorStd", "Courier New", serif;*/
    /*  line-height: 0.95em;*/
    /*  text-decoration: none;*/

    /*  margin-right: 2rem;*/
    /*  font-size: 30px;*/
    /*  display: inline-block;*/
    /*}*/

    /*.links a:hover {*/
    /*  color: #f29823;*/
    /*  border: 1px solid #f29823;*/
    /*  text-shadow: #f29823 0px 0px 3px;*/
    /*  text-decoration: none;*/
    /*}*/

    /*.links a span {*/
    /*  !*border-bottom: 2px solid #fec544;*!*/
    /*}*/

    /*.links a.discord {*/
    /*  color: white;*/
    /*  font-size: 20px;*/
    /*  margin-top: 15px;*/
    /*}*/

    /*s {*/
    /*  color: #734715;*/
    /*  text-shadow: none;*/
    /*  text-decoration-color: #f29823;*/
    /*}*/

    .center-container {
        min-height: 100vh;
    }

    .embed-container {
        border: 2px dashed #c2c5b5;
        background: rgba(255, 255, 255, 0.5);
        padding: 5px;
    }
  </style>
{% endblock %}

{% block body %}

<div class="center-container">

  <header>
    <div class="logo">
      <img src="{{ asset('2022images/logo.png') }}">
    </div>
    <div class="title-text">
      <div class="line-1 stroke-me">The 2022 Vidya Gaem Awards</div>
    </div>
  </header>

  <div class="award-header">
    <div class="award-name-container">
      <div class="award-name">Streaming live on four platforms</div>
    </div>
  </div>

  <div class="col-12 text-center">
    <p class="links">
      <a href="https://twitch.tv/vidyagaemawards" target="_blank">
        <button class="btn btn-default">Twitch</button>
      </a>
      <a href="https://www.youtube.com/vidyagaemawards" target="_blank">
        <button class="btn btn-default">YouTube</button>
      </a>
      <a href="https://dlive.tv/vidyagaemawards" target="_blank">
        <button class="btn btn-default">DLive</button>
      </a>
      <a href="https://twitter.com/vidyagaemawards" target="_blank">
        <button class="btn btn-default">Twitter</button>
      </a>
      <a href="https://discord.gg/4e8JQB4" target="_blank">
        <button class="btn btn-default">Chat on Discord</button>
      </a>
    </p>

    <div class="embed-container">
      <div id="twitch-embed"></div>
    </div>

    <!-- Load the Twitch embed script -->
    <script src="https://embed.twitch.tv/embed/v1.js"></script>

    <!-- Create a Twitch.Embed object that will render within the "twitch-embed" root element. -->
    <script type="text/javascript">
        new Twitch.Embed("twitch-embed", {
            width: '100%',
            height: 480,
            channel: "vidyagaemawards",
            theme: 'dark'
        });
    </script>
  </div>
</div>
{% endblock %}
