{% extends 'base/special.html.twig' %}

{% block fullTitle %}2018 Vidya Gaem Awards{% endblock %}

{% block head %}
  <style type="text/css">
    html, body {
      height: 100%;
    }

    .links a {
      margin-right: 2rem;
      font-size: 30px;
      display: inline-block;
      text-decoration: none !important;
    }

    .links a span {
      border-bottom: 2px solid #fec544;
    }

    .links a.discord {
      color: white;
      font-size: 20px;
      margin-top: 15px;
    }
  </style>
{% endblock %}

{% block body %}

  <div style="text-align: center;">
    <img src="{{ asset('2018images/vga2018_logo.png') }}" alt="Logo of the 2018 Vidya Gaem Awards" style="display: inline;">
  </div>

  <div class="zig hidden-xs hidden-sm" style="margin-top: 20px;"></div>

  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h1 class="my-3">Streaming Live on Three Platforms</h1>

        <p class="links">
          <a href="https://twitch.tv/vidyagaemawards" target="_blank">
            <i class="fab fa-twitch fa-fw"></i> <span>Twitch</span>
          </a>
          <a href="https://www.youtube.com/vidyagaemawards" target="_blank">
            <i class="fab fa-youtube fa-fw"></i> <span>YouTube</span>
          </a>
          <a href="https://mixer.com/vidyagaemawards" target="_blank">
            <i class="fab fa-microsoft fa-fw"></i> <span>Mixer</span>
          </a><br>
          <a href="https://discord.gg/hSn98S" target="_blank" class="discord">Chat on <i class="fab fa-discord fa-fw"></i> <span>Discord</span></a>
        </p>

        <div id="twitch-embed"></div>

        <!-- Load the Twitch embed script -->
        <script src="https://embed.twitch.tv/embed/v1.js"></script>

        <!-- Create a Twitch.Embed object that will render within the "twitch-embed" root element. -->
        <script type="text/javascript">
            new Twitch.Embed("twitch-embed", {
                width: '100%',
                height: 480,
                channel: "vidyagaemawards",
                theme: 'dark'
            });
        </script>
      </div>
    </div>
  </div>

{% endblock %}
