{% extends 'base/special.html.twig' %}

{% block fullTitle %}2019 Vidya Gaem Awards{% endblock %}

{% block head %}
  <style type="text/css">
    html, body {
      height: 100%;
    }

    .links a {
      background-color: #000;
      border-radius: 2px;
      color: #f81317;
      text-shadow: #f81317 0px 0px 3px;
      padding: 5px 15px 1px;
      border: 1px solid #f81317;
      font-family: "OratorStd", "Courier New", serif;
      line-height: 0.95em;
      text-decoration: none;

      margin-right: 2rem;
      font-size: 30px;
      display: inline-block;
    }

    .links a:hover {
      color: #f29823;
      border: 1px solid #f29823;
      text-shadow: #f29823 0px 0px 3px;
      text-decoration: none;
    }

    .links a span {
      /*border-bottom: 2px solid #fec544;*/
    }

    .links a.discord {
      color: white;
      font-size: 20px;
      margin-top: 15px;
    }

    s {
      color: #734715;
      text-shadow: none;
      text-decoration-color: #f29823;
    }
  </style>
{% endblock %}

{% block body %}

  <div style="text-align: center;">
    <img src="{{ asset('2019images/vga2019_logo.png') }}" alt="Logo of the 2019 Vidya Gaem Awards" style="display: inline;">
  </div>

  <div class="zig hidden-xs hidden-sm" style="margin-top: 20px;"></div>

  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h1 class="my-3">Streaming Live on <s>Three</s> Two Platforms</h1>
        <h2 style="margin-top: -10px; margin-bottom: 15px;">(Apologies to the single person who uses Mixer, we had account issues)</h2>

        <p class="links">
          <a href="https://twitch.tv/vidyagaemawards" target="_blank">
            <i class="fab fa-twitch fa-fw"></i> <span>Twitch</span>
          </a>
          <a href="https://www.youtube.com/vidyagaemawards" target="_blank">
            <i class="fab fa-youtube fa-fw"></i> <span>YouTube</span>
          </a>
{#          <a href="https://mixer.com/vidyagaemawards" target="_blank">#}
{#            <i class="fab fa-microsoft fa-fw"></i> <span>Mixer</span>#}
{#          </a><br>#}
          <a href="https://discord.gg/hSn98S" target="_blank">Chat on <i class="fab fa-discord fa-fw"></i> <span>Discord</span></a>
        </p>

        <div id="twitch-embed"></div>

        <!-- Load the Twitch embed script -->
        <script src="https://embed.twitch.tv/embed/v1.js"></script>

        <!-- Create a Twitch.Embed object that will render within the "twitch-embed" root element. -->
        <script type="text/javascript">
            new Twitch.Embed("twitch-embed", {
                width: '100%',
                height: 480,
                channel: "vidyagaemawards",
                theme: 'dark'
            });
        </script>
      </div>
    </div>
  </div>

{% endblock %}
