{% extends 'base/standard.html.twig' %}

{% block beforeContainer %}
  {% include 'parts/awardAdminBar.twig' %}
{% endblock %}

{% block content %}
  <style>
    .output {
      background-color: black;
      border-color: #777;
      border-radius: 0;
      padding: 5px;
    }

    .alert-redboard {
      background-color: #f0e0d6;
      border: 1px solid #d9bfb7;
      border-radius: 0;
      font-family: Arial, Helvetica, sans-serif;
    }
  </style>

  <h1 class="page-header board-header mb-4">
    Nominee Image Optimisation
  </h1>

  <pre class="output">{{ ansi | ansi_to_html }}</pre>
{% endblock %}
