<?php
$TIMEZONE = "America/New_York";

// Database connection information
$DB_HOST = "localhost";
$DB_USER = "";
$DB_PASS = "";
$DB_DB = "";

// Used for volunteer applications
$EMAIL_TO = "";
$EMAIL_FROM = "";

// steamcommunity.com/dev/apikey
$STEAM_API_KEY = "";

// Event-specific details
$YEAR = "2013";
$DOMAIN = "$YEAR.vidyagaemawards.com";

$APPLICATIONS_OPEN = true;
$CATEGORY_VOTING_ENABLED = true;

$ACCOUNT_REQUIRED_TO_NOMINATE = false;

$DEFAULT_PAGE = "home";
$AD_LANDING_PAGE = "http://$DOMAIN/voting?promo";

// Must be valid strings for strtotime()
$VOTING_START = "2013-01-01 00:00:00";
$VOTING_END = "2013-01-15 00:00:00";

// Items will only be showed if the user has access to them
$NAVBAR_ITEMS = array(
  "home"  => "Home",
  "categories" => "Categories and Nominations",
  "people" => "People",
  "http://steamcommunity.com/groups/vidyagaemawards/discussions/" = "Forum";
);
  
?>