{% extends 'base/standard.html.twig' %}

{% block title %}401{% endblock %}

{% block content %}
  <h1 class="page-header board-header mb-4">/401/ - Authentication Required</h1>
  <p class="text-center">
    To view this page, you'll need to sign in with a Steam account that's been added to the /v/GA team.
  </p>
  <p class="text-center">
    <a class="btn btn-dark" href="{{ path('login', {'redirect': app.request.requestUri}) }}">
      <i class="fab fa-fw fa-steam"></i> Sign in with Steam
    </a>
  </p>
{% endblock %}
