{% extends 'base/standard.html.twig' %}

{% block title %}404{% endblock %}

{% block content %}
  <h1 class="page-header board-header mb-4">/404/ - Page Not Found</h1>
  <p class="text-center">So what's the next step of your master plan?</p>
{% endblock %}
