{% extends 'base/standard.html.twig' %}

{% block title %}403{% endblock %}

{% block content %}
  <h1 class="page-header board-header mb-4">/403/ - Forbidden</h1>

  <p class="text-center">
    You aren't allowed to access this page.
  </p>
  <p class="text-center">
    If you think you should be able to, contact one of the producers on <a href="https://discord.gg/4e8JQB4">Discord</a>.<br>
    You'll need your Steam Community ID: {{ app.user.steamID }}
  </p>
{% endblock %}
